
.jmv-toolbar-group-body {
    display: flex ;
    position: relative;
}

.jmv-toolbar-group-label {
    font-size: 75%;
    background-color: #e3e3e3;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 3px;
}

.jmv-toolbar-group {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 3px 0;
}

.jmv-toolbar-group-body-vertical {
    flex-direction: column;
}
