
.modules-menu-item {
    position: sticky !important;
    right: 6px;
    background-color: inherit;
}

.jmv-ribbon-button:not(.jmv-context-menu-button) .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-other.svg");
}

.jmv-ribbon-button[data-name="exploration"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-descriptives.svg");
}

.jmv-ribbon-button[data-name="t-tests"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-ttest.svg");
}

.jmv-ribbon-button[data-name="anova"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-anova.svg");
}

.jmv-ribbon-button[data-name="regression"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-regression.svg");
}

.jmv-ribbon-button[data-name="frequencies"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-frequencies.svg");
}

.jmv-ribbon-button[data-name="factor"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-factor.svg");
}

.jmv-ribbon-button[data-name="base r"] .jmv-ribbon-button-icon,
.jmv-ribbon-button[data-name="r"]  .jmv-ribbon-button-icon,
.jmv-ribbon-button[data-name="rj"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-r.svg");
}

.jmv-ribbon-button[data-name="medmod"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-medmod.svg");
}

.jmv-ribbon-button[data-name="toster"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-toster.svg");
}
.jmv-ribbon-button[data-name="walrus"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-walrus.svg");
}

.jmv-ribbon-button[data-name="arcade"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-jmvarcade.svg");
}

.jmv-ribbon-button[data-name="jpower"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-power.svg");
}

.jmv-ribbon-button[data-name="statkat"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-statkat.svg");
}

.jmv-ribbon-button[data-name="distraction"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-distraction.svg");
}

.jmv-ribbon-button[data-name="linear models"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-linearmodels.svg");
}

.jmv-ribbon-button[data-name="survival"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-survival.svg");
}

.jmv-ribbon-button[data-name="behavior change"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-behaviorchange.svg");
}

.jmv-ribbon-button[data-name="flexplot"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-flexplot.svg");
}

.jmv-ribbon-button[data-name="rosetta"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-rosetta.svg");
}

.jmv-ribbon-button[data-name="ufs"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-ufs.svg");
}

.jmv-ribbon-button[data-name="modules"] .jmv-ribbon-button-icon {
    background-image: url("../assets/analysis-more.svg");
}
