

.jmv-ribbon-button[data-name=copy] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-data-copy.svg');
}

.jmv-ribbon-button[data-name=paste] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-data-paste.svg');
}

.jmv-ribbon-button[data-name=appendvar] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-variable-append.svg');
}

.jmv-ribbon-button[data-name=appendrow] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-row-append.svg');
}

.jmv-ribbon-button[data-name=delrow] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-row-remove.svg');
}

.jmv-ribbon-button[data-name=delvar] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-variable-remove.svg');
}

.jmv-ribbon-button[data-name=cut] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-data-cut.svg');
}

.jmv-ribbon-button[data-name=editfilters] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-data-filter.svg');
}

.jmv-ribbon-button[data-name=editvar] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-variable-edit.svg');
}

.jmv-ribbon-button[data-name=addvar] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-variable-add.svg');
}

.jmv-ribbon-button[data-name=insertvar] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-variable-insert.svg');
}

.jmv-ribbon-button[data-name=insertrow] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-row-insert.svg');
}

.jmv-ribbon-button[data-name=addrow] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-row-add.svg');
}

.jmv-ribbon-button[data-name=insertcomputed] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-computed-insert.svg');
}

.jmv-ribbon-button[data-name=appendcomputed] > .jmv-ribbon-button-icon {
    background-image: url('assets/menu-computed-append.svg');
}
