
.jmv-ribbon-button[data-name="jmvplot-box"] .jmv-ribbon-button-icon {
    background-image: url("../../assets/analysis-jmvplot-box.svg");
}

.jmv-ribbon-button[data-name="jmvplot-line"] .jmv-ribbon-button-icon {
    background-image: url("../../assets/analysis-jmvplot-line.svg");
}

.jmv-ribbon-button[data-name="jmvplot-hist"] .jmv-ribbon-button-icon {
    background-image: url("../../assets/analysis-jmvplot-hist.svg");
}

.jmv-ribbon-button[data-name="jmvplot-bar"] .jmv-ribbon-button-icon {
    background-image: url("../../assets/analysis-jmvplot-bar.svg");
}

.jmv-ribbon-button[data-name="jmvplot-scatter"] .jmv-ribbon-button-icon {
    background-image: url("../../assets/analysis-jmvplot-scatter.svg");
}

