
.jmv-ribbon-group-body .jmv-ribbon-button {
    display: flex;
    flex-wrap: nowrap;
    padding: 3px;
    margin-bottom: 0;
    flex-direction: column;
}

.jmv-ribbon-group-body .jmv-ribbon-button .jmv-ribbon-button-menu {
    top: 100%;
    left: '';
    margin-top: 0px;
    border-radius: 0px;
    background-color: white;
}

.jmv-ribbon-button .jmv-ribbon-button {
    font-size: unset;
}

.jmv-ribbon-menu-arrow {
    width: 5.5px;
    height: 5.5px;
    background-image: url('assets/menu-button-arrow.svg');
    background-position: center;
    background-repeat: no-repeat ;
    background-size: contain;
    margin: 0 2px 0 6px;
}

.jmv-ribbon-group-body .jmv-ribbon-button-icon {
    padding: 0px;
    background-position: center;
}

.jmv-ribbon-group-body .jmv-ribbon-button-label {
    margin-top: 3px;
}

/*huge button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-huge {
    width: 45px;
}

.jmv-ribbon-group-body .jmv-ribbon-button-size-huge .jmv-ribbon-button-icon {
    height: 30px;
}

/*large button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-large {
    width: 40px;
}

.jmv-ribbon-group-body .jmv-ribbon-button-size-large .jmv-ribbon-button-icon {
    height: 25px;
}

/*medium button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-medium {
    width: auto;
    flex-direction: row;
    align-items: center;
}

.jmv-ribbon-button-size-medium .jmv-ribbon-button-icon {
    height: 15px;
    width: 20px;
}

.jmv-ribbon-button-size-medium .jmv-ribbon-button-label {
    margin-left: 3px;
    margin-top: 0px;
}

/*small button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-small {
    width: 18px ;
}

.jmv-ribbon-button-size-small .jmv-ribbon-button-icon {
    height: 15px;
    width: 20px;
}
