

.jmv-ribbon-button {
    position: relative ;
    border: 0 ;
    width: 74px ;
    padding: 5px;
    text-align: center ;
    border-radius: 1px ;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;

    transition: 0.2s opacity, 0.2s width;
    opacity: 1;
}

.jmv-ribbon[mode=demo] .display-in-menu {
    color: #CCCCCC;
}

.jmv-group-items {
    overflow: auto;
    max-height: 500px;
}

.jmv-analyses-button {
    padding: 6px 0;
}

.jmv-ribbon-button-label {
    font-size: 90% ;
    color: #555555 ;
}

.jmv-analyses-button > .jmv-ribbon-button-label {
    font-size: 80% ;
}

.jmv-ribbon-button[disabled] {
    -webkit-filter: grayscale(100%) opacity(50%);
    filter: grayscale(100%) opacity(50%);
}

@-webkit-keyframes pulsate {
    0% {background: rgba(199, 216, 242, 0);}
    50% {background: rgba(199, 216, 242, 1);}
    100% {background: rgba(199, 216, 242, 0);}
}

.jmv-ribbon-button.contains-new {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.jmv-ribbon-button:not([disabled]):not(.maintain-color):hover {
    background-color: #DDDDDD ;
}

.jmv-ribbon-button.maintain-color:not([disabled]):hover {
    border: 1px solid black;
}

.jmv-ribbon-button:not([disabled]):active {
    background-color: #CCCCCC ;
}

.jmv-ribbon-button:not([disabled]).checked {
    background-color: #CCCCCC ;
}

.jmv-ribbon-button:focus {
    outline: none ;
}

.jmv-ribbon-button-icon {
    width: 45px;
    height: 20px ;
    padding: 4px ;
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;
}

.jmv-ribbon-button-label {
    margin-top: 5px ;
    margin-bottom: 0px ;
    white-space: nowrap;
}

.jmv-ribbon-button.right .jmv-ribbon-button-menu {
    left: unset ;
    right: 0px ;
}

.jmv-ribbon-menu-item > .description {
    font-size: 88% ;
}

.jmv-ribbon-menu-item {
    padding: 8px 18px 8px 18px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s background-color;
}

.jmv-ribbon-menu-item.new {
    background-color: #C7D8F2 ;
}

.jmv-ribbon-menu-item:not(.menu-item-hidden):first-child {
    margin-top: 6px ;
}

.jmv-ribbon-menu-item:not(.menu-item-hidden):last-child {
    margin-bottom: 6px ;
}

.jmv-analyses-button .jmv-ribbon-button-menu {
    padding: 0;
    left: 0px ;
    top: 100%;
    margin-left: 0;
}

.jmv-ribbon-menu-item-sub {
    font-size: 85% ;
    padding-top: 3px ;
    padding-left: 60px ;
    pointer-events: none ;
}

.module .jmv-ribbon-menu-item-sub {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0px;
    width: 200px;
}

.to-analyses-arrow {
    background-image: url(assets/modules-analyses-arrow.svg);
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 2px;
    margin-left: 8px;
    filter: opacity(80%);
    opacity: 0;
    transition: 0.2s width, 0.3s opacity, 0.2s margin-right;
}

.module-analysis-list {

}

.side-panel input {
    margin: 10px 5px 10px 20px;
}

.side-panel {
    position: absolute;
    background-color: white;
    line-height: 1.4em;
    padding: 0;
    box-sizing: border-box;
    right: 0px;
    margin-right: -100%;
    opacity: 0;
    transition: 0.2s opacity;
    box-shadow: 0px 0px 5px #c1c1c1;
    border: 1px solid #c1c1c1;
    min-width: 250px;
}

.side-panel-heading {
    font-size: 16px;
    margin: 10px;
    font-weight: 100;
}

.side-panel-visible {
    opacity: 1;
    margin-right: 100%;
}

.jmv-ribbon-menu-item.module {
    padding: 8px 18px 8px 0px;
}

.jmv-ribbon-menu-item.module.open .to-analyses-arrow {
    opacity: 1;
}

.menu-item-hiding {
    opacity: 0;
    width: 0px;
}

.menu-item-hidden {
    position: absolute;
    pointer-events: none;
}

.jmv-ribbon-menu-heading {
    margin-top: 6px ;
    margin-bottom: 6px ;
    background-color: #E8E8E8 ;
    color: #555555 ;
    font-size: 72% ;
    padding: 6px 8px ;
}

.jmv-ribbon-menu-heading:empty {
    padding: 4px 8px ;
}

.jmv-ribbon-menu-item.module .description {
    margin-left: 8px;
}

.jmv-ribbon-menu-item:hover {
    background-color: #F2F2F2 ;
}

.jmv-ribbon-menu-item.open {
    background-color: #CCCCCC ;
}
