

.jmv-ribbon-button {
    position: relative ;
    border: 0 ;
    width: 74px ;
    padding: 6px 0;
    font-size: 80% ;
    text-align: center ;
    color: #555555 ;
    border-radius: 1px ;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.jmv-ribbon-button[disabled] {
    -webkit-filter: grayscale(100%) opacity(50%);
    filter: grayscale(100%) opacity(50%);
}

@-webkit-keyframes pulsate {
    0% {background: rgba(199, 216, 242, 0);}
    50% {background: rgba(199, 216, 242, 1);}
    100% {background: rgba(199, 216, 242, 0);}
}

.jmv-ribbon-button.contains-new {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.jmv-ribbon-button:not([disabled]):hover {
    background-color: #DDDDDD ;
}

.jmv-ribbon-button:not([disabled]):active {
    background-color: #CCCCCC ;
}

.jmv-ribbon-button:focus {
    outline: none ;
}

.jmv-ribbon-button-icon {
    width: 45px;
    height: 20px ;
    padding: 4px ;
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;
}

.jmv-ribbon-button-label {
    margin-top: 5px ;
    margin-bottom: 0px ;
}

.jmv-ribbon-button-menu {
    position: absolute;
    white-space: nowrap;
    text-align: left ;
    z-index: 100;
    color: #555555 ;
    background-color: white ;
    max-width: 300px ;
    margin-top: 0 ;
    padding: 0 ;
    border: 1px solid #DDDDDD ;
    left: 0px ;
    top: 100%;
}

.jmv-ribbon-button.right .jmv-ribbon-button-menu {
    left: unset ;
    right: 0px ;
}

.jmv-ribbon-menu-item {
    font-size: 110% ;
    padding: 8px 18px 8px 18px ;
}

.jmv-ribbon-menu-item.new {
    background-color: #C7D8F2 ;
}

.jmv-ribbon-menu-item:first-child {
    margin-top: 6px ;
}

.jmv-ribbon-menu-item:last-child {
    margin-bottom: 6px ;
}

.jmv-ribbon-menu-item-sub {
    font-size: 85% ;
    padding-top: 3px ;
    padding-left: 60px ;
    pointer-events: none ;
}

.jmv-ribbon-menu-heading {
    margin-top: 6px ;
    margin-bottom: 6px ;
    background-color: #E8E8E8 ;
    color: #555555 ;
    font-size: 90% ;
    padding: 6px 8px ;
}

.jmv-ribbon-menu-heading:empty {
    padding: 4px 8px ;
}

.jmv-ribbon-menu-item:hover {
    background-color: #F2F2F2 ;
}
