
.jmv-ribbon-group-body .jmv-ribbon-button {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    flex-direction: column;
}

.jmv-ribbon-button-margin-large {
    margin: 0px 7px;
}

.jmv-ribbon-button-menu {
    top: 100%;
    margin-left: -3px;
    margin-top: 0px;
    border-radius: 0px;
    background-color: white;
    position: absolute;
    white-space: nowrap;
    text-align: left;
    z-index: 100;
    color: #555555;
    max-width: 330px;
    min-width: 100px;
    padding: 1px 1px 4px 1px;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 5px #c1c1c1;
}

.jmv-ribbon-menu-arrow {
    width: 6px;
    height: 6px;
    transform: rotate(270deg);
    background-image: url('../../assets/modules-analyses-arrow.svg');
    background-position: center;
    background-repeat: no-repeat ;
    background-size: contain;
    margin: 0 2px 0 6px;
}

.jmv-ribbon-button-size-small .jmv-ribbon-menu-arrow {
    height: 100%;
    margin: 0 0px 0 0px;
}

.jmv-ribbon-group-body .jmv-ribbon-button-icon {
    padding: 0px;
    background-position: center;
}

.jmv-ribbon-group-body .jmv-ribbon-button-label {
    margin-top: 5px;
    flex-grow: 1;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
}

/*huge button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-huge {
    min-width: 45px;
    width: auto;
}

.jmv-ribbon-group-body .jmv-ribbon-button-size-huge .jmv-ribbon-button-icon {
    height: 30px;
}

/*large button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-large {
    min-width: 40px;
    padding: 5px 0px;
    width: auto;
}

.jmv-ribbon-group-body .jmv-ribbon-button-size-large .jmv-ribbon-button-icon {
    height: 25px;
}

/*medium button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-medium {
    width: auto;
    flex-direction: row;
    align-items: center;
    height: 24px;
    line-height: 24px;
}

.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-small.has-children {
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}

.jmv-ribbon-button-size-medium .jmv-ribbon-button-icon {
    height: 16px;
    width: 20px;
}

[keyboardfocus="true"] .jmv-ribbon-button:focus {
    background-color: #3e6da93b;
}


.jmv-ribbon-button-size-medium .jmv-ribbon-button-label {
    margin-left: 8px;
    margin-top: 0px;
    margin-right: 13px;
}

/*small button*/
.jmv-ribbon-group-body .jmv-ribbon-button.jmv-ribbon-button-size-small:not(.has-children) {
    width: 24px ;
    height: 24px;
    padding: 3px;
}

.jmv-ribbon-button-size-small .jmv-ribbon-button-icon {
    height: 15px;
    width: 20px;
}
