
.jmv-ribbon-group-body {
    -webkit-app-region: no-drag;
    display: flex ;
    order: 0;
}

.jmv-ribbon-group-label {
    text-align: center;
    width: 100%;
    font-size: 70%;
    bottom: 0px;
    order: 1;
}

.jmv-ribbon-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group {
    margin: 10px;
}

.jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group {
    margin: 0;
}

.jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group:first-child {
    margin: 0 0 10px 0;
}

.jmv-ribbon-group .jmv-ribbon-group .jmv-ribbon-group-label {
    font-size: 100%;
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 2px 0px;
}

.jmv-ribbon-group[data-position="top"] > .jmv-ribbon-group-label {
    order: 0;
}

.jmv-ribbon-group[data-position="top"] > .jmv-ribbon-group-body {
    order: 1;
}

.jmv-ribbon-group-body-horizontal {
    flex-direction: row;
}

.jmv-ribbon-group-body-vertical {
    flex-direction: column;
}
