
.jmv-variable-computed-widget {
    width: 100% ;
    display: flex;
}

.jmv-variable-computed-methods {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-inline-end: 20px;
    margin-bottom: 20px;
    margin-inline-start: 0px;
    flex-grow: 1;
    background-color: white;
    border: 1px solid #CCCCCC;
}

.jmv-variable-computed-methods > .top {
    margin: 5px 0px;
}

.jmv-variable-computed-methods > .separator {
    border-bottom: 1px solid #CCCCCC;
    margin: 0px 5px;
}

.jmv-variable-computed-methods > .bottom {
    flex: 1;
    margin: 5px 0px;
}

.jmv-variable-computed-methods .item {
    padding: 5px 10px;
}

.jmv-variable-computed-methods .item:hover {
    background-color: #F0F0F0;
}

.jmv-variable-computed-options {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.jmv-variable-computed-options > .formula-box {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 50px;
}

.jmv-variable-computed-options > .formula-box .show-editor {
    filter: hue-rotate(40deg) saturate(5) grayscale(100%);
    width: 23px;
    border: 1px solid #dadada;
    background-image: url('../../assets/filters-formula.svg');
    background-position: center left 1px;
    background-repeat: no-repeat;
    background-size: 65%;
    cursor: default;
    flex: none;
    margin-inline-end: 3px;
    background-color: white;
    box-sizing: content-box;
    padding: 0px;
}

.jmv-variable-computed-options > .formula-box .show-editor:hover, .jmv-variable-computed-options > .formula-box .show-editor.is-active {
    filter: none;
    background-color: #ffffff;
}

.jmv-variable-computed-options > .formula-box .show-editor > .down-arrow {
    filter: inherit;
    position: absolute;
    background-image: url('../../assets/filters-down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 50%;
    margin-top: -3px;
    width: 5px;
    inset-inline-start: 16px;
    height: 5px;
}

.jmv-variable-computed-options > .formula-box > .equal {
    padding-top: 5px;
    padding-inline-end: 5px;
    padding-bottom: 0px;
    padding-inline-start: 34px;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    pointer-events: none;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
}

.jmv-variable-computed-options > .formula-box .formula-pair {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.jmv-variable-computed-options > .formula-box .formulaMessageBox {
    background-color: pink;
    width: 350px;
}

.jmv-variable-computed-options > .formula-box .formulaMessageBox > .formulaMessage {
    flex: 1;
    flex-grow: 1;
    margin: 5px;
    overflow: hidden;
}

.jmv-variable-computed-options > .formula-box .formulaMessageBox > .formulaMessage:empty {
    display: none;
}

.jmv-variable-computed-options > .formula-box .formula {
    flex: 1;
    resize: none;
    text-indent: 1em;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    padding-top: 5px;
    padding-inline-end: 20px;
    padding-bottom: 5px;
    padding-inline-start: 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    cursor: text;
    overflow-y: auto;
    line-height: 1em;
    min-height: 1em;
    width: 350px;
    box-sizing: border-box;
    white-space: pre-wrap;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #CCCCCC;
}

.jmv-variable-computed-options > .formula-box .caret {
    border-inline-start: 1px solid #888888;
    top: 2px;
    inset-inline-start: 15px;
    height: calc(1em + 2px);
    position: absolute;
    transition: .05s left ease-out, .05s inset-inline-start ease-out, .05s top ease-out;
    pointer-events: none;
}
