

.jmv-variable-editor-datavarwidget {
    flex: 1;
    display: flex;
    max-height: 167px;
}

.jmv-variable-editor-widget-left {
    display: flex ;
    flex-direction: column ;
    padding-top: 3px;
    width: 215px;
}

.jmv-variable-editor-autotype {
    display: inline-block ;
    margin: 0px 0 0px 4px;
}

.jmv-variable-editor-widget span {
    line-height: 20px ;
}

.jmv-variable-editor-widget input {
    vertical-align: middle ;
}

.jmv-vareditor-datatype {
    display: flex ;
    align-items: baseline;
    margin-bottom: 12px;
}

.jmv-vareditor-transform {
    display: flex ;
    align-items: baseline;
}

.jmv-vareditor-datatype label {
    margin-right: 10px;
}

.jmv-vareditor-datatype select{
    flex-grow: 1;
}

.jmv-variable-editor-levels-control .container {
    flex-grow: 1;
    display: flex ;
    flex-direction: column;
}

.transform-type option {
    display: none;
}

.super-focus {
    box-shadow: 0px 0px 15px 0px #949494;
    z-index: 300;
}

.super-focus * {
    z-index: 300;
}

.jmv-variable-editor-levels-control .title {
    background-color: #E8E8E8;
    border: 1px solid #CCCCCC;
    border-bottom-style: none;
    text-align: center;
    padding: 3px 0px;
}

.jmv-variable-editor-levels-control .levels {
    background-color: white ;
    border: 1px solid #CCCCCC ;
    box-sizing: border-box ;
    padding-top: 4px ;
    padding-bottom: 4px ;
    overflow-y: auto ;
    overflow-x: hidden ;
    flex: 1;
}

.jmv-variable-editor-level.selected,
.jmv-variable-editor-level.selected > .jmv-variable-editor-level-label:not(:focus):not(:hover) {
    background-color: #B5CAEF ;
}

.jmv-variable-editor-widget-move {
    display: inline-block ;
    vertical-align: top ;
    font-size: 150% ;
    padding: 0 5px ;
    color: #BBBBBB ;
    background: #f8f8f8;
}

.jmv-variable-editor-levels-control {
    display: flex;
    flex-grow: 1;
    margin-left: 15px;
    transition: box-shadow 0.15s;
}

.jmv-variable-editor-widget-move-up,
.jmv-variable-editor-widget-move-down {
    margin-bottom: 4px ;
    transition: opacity .2s ;
}

.jmv-variable-editor-widget-move-up.disabled,
.jmv-variable-editor-widget-move-down.disabled {
    opacity: 0.4 ;
}

.jmv-variable-editor-widget-move-up:not(.disabled):hover,
.jmv-variable-editor-widget-move-down:not(.disabled):hover {
    color: #999999 ;
}

.jmv-variable-editor-level {
    padding: 5px 0px 5px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #e6e6e6;
}

.jmv-variable-editor-level-value {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 80%;
    text-align: right;
    margin-right: 10px;
}

.jmv-variable-editor-level[data-changed=false] > .jmv-variable-editor-level-value {
    display: none
}

.jmv-variable-editor-level-label {
    padding: 0;
    padding-left: 4px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    border-width: 1px;
    border-color: #e6e6e6;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid transparent;
    transition: .2s background-color, .2s border-color, .2s border-radius;
    height: 1.4em;
}

.jmv-variable-editor-level-label:focus, .jmv-variable-editor-level-label:not(.read-only):hover {
    background-color: rgb(230, 241, 255);
    border-color: rgb(62, 109, 169);
    border-radius: 3px;
    border: 1px solid rgb(62, 109, 169);
}

.jmv-variable-editor-level-label.read-only:hover {
    cursor: default;
}

.missing-values {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.missing-values .label {
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
}

.missing-values .list {
    padding-left: 0px;
    line-height: 1.6em;
    border: 1px solid transparent;
    border-radius: 0px;
    transition: .2s background-color, .2s border-color, .2s border-radius;
    height: 1.6em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.missing-values .list:empty {
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    min-width: 100px;
    flex-grow: 1;
}

.missing-values .list:hover {
    background-color: rgb(230, 241, 255);
    border-color: rgb(62, 109, 169);
    border-radius: 3px;
    border: 1px solid rgb(62, 109, 169);
}

.missing-values .list span {
    background-color: rgba(145, 145, 145, 0.13);
    margin: 0 0 0 3px;
    padding: 0 5px;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border: 1px solid #d7d7d7;
}

.missing-values .list span:first-child {
    margin: 0 0 0 1px;
}


.jmv-variable-editor-datavarwidget .measure-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 12px;
}

.jmv-variable-editor-datavarwidget .measure-box .label {
    white-space: nowrap;
}

.jmv-variable-editor-datavarwidget .measure-box #type {
    margin-left: 5px;
    flex-grow: 1;
    flex-shrink: 1;
}

.jmv-variable-editor-datavarwidget .measure-box .icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    align-self: center;
}

.jmv-variable-editor-datavarwidget .measure-box .icon[measure-type='id'] {
    background-image: url('../assets/variable-id.svg');
}

.jmv-variable-editor-datavarwidget .measure-box .icon[measure-type='continuous'] {
    background-image: url('../assets/variable-continuous.svg');
}

.jmv-variable-editor-datavarwidget .measure-box .icon[measure-type='nominal'] {
    background-image: url('../assets/variable-nominal.svg');
}

.jmv-variable-editor-datavarwidget .measure-box .icon[measure-type='ordinal'] {
    background-image: url('../assets/variable-ordinal.svg');
}
