

.jmv-variable-editor-datavarwidget {
    flex: 1;
    display: flex;
}

.jmv-variable-editor-widget-left {
    display: flex ;
    flex-direction: column ;
}

.jmv-variable-editor-widget-types {
    display: inline-block ;
    width: 150px ;
}

.jmv-variable-editor-widget-types-highlight {
    position: absolute ;
    top: -4px ;
    padding: 2px ;
    width: 32px ;
    height: 0 ;
    background-color: #E8E8E8 ;
    transition: all .2s ;
    width: 150px ;
}

.jmv-variable-editor-autotype {
    display: inline-block ;
    margin: 6px 0 12px 12px ;
}

.jmv-variable-editor-widget-option {
    padding: 2px ;
    vertical-align: middle;
    position: relative ;
    z-index: 1 ;
}

.jmv-variable-editor-widget-option:hover {
    background-color: #F0F0F0 ;
}

.jmv-variable-editor-widget-option.selected:hover {
    background-color: #E8E8E8 ;
}

.jmv-variable-editor-widget span {
    line-height: 20px ;
}

.jmv-variable-editor-widget input {
    vertical-align: middle ;
}

.jmv-vareditor-datatype {
    display: flex ;
    justify-content: space-between ;
    align-items: baseline;
    padding-top: 24px ;
}

.jmv-variable-editor-variable-type {
    display: inline-block ;
    width: 20px ;
    height: 20px ;
    background-size: 100% ;
    vertical-align: top ;
    margin-right: 6px ;
    vertical-align: top ;
}

.jmv-variable-editor-variable-type[data-type="nominal"] {
    background-image: url('assets/variable-nominal.svg');
}

.jmv-variable-editor-variable-type[data-type="ordinal"] {
    background-image: url('assets/variable-ordinal.svg');
}

.jmv-variable-editor-variable-type[data-type="continuous"] {
    background-image: url('assets/variable-continuous.svg');
}

.jmv-variable-editor-variable-type[data-type="id"] {
    background-image: url('assets/variable-id.svg');
}

.jmv-variable-editor-levels-container {
    flex-grow: 1;
    display: flex ;
    flex-direction: column;
    margin-left: 30px ;
    margin-bottom: 5px;
}

.jmv-variable-editor-levels-title {
    background-color: #E8E8E8;
    border: 1px solid #CCCCCC;
    border-bottom-style: none;
    text-align: center;
    padding: 3px 0px;
}

.jmv-variable-editor-levels {
    background-color: white ;
    border: 1px solid #CCCCCC ;
    box-sizing: border-box ;
    padding-top: 4px ;
    padding-bottom: 4px ;
    overflow-y: auto ;
    overflow-x: hidden ;
    flex: 1;
}

.jmv-variable-editor-level.selected,
.jmv-variable-editor-level.selected > .jmv-variable-editor-level-label:not(:focus) {
    background-color: #B5CAEF ;
}

.jmv-variable-editor-widget-move {
    display: inline-block ;
    vertical-align: top ;
    font-size: 150% ;
    margin-left: 8px ;
    color: #BBBBBB ;
}

.jmv-variable-editor-widget-move-up,
.jmv-variable-editor-widget-move-down {
    margin-bottom: 4px ;
    transition: opacity .2s ;
}

.jmv-variable-editor-widget-move-up.disabled,
.jmv-variable-editor-widget-move-down.disabled {
    opacity: 0.4 ;
}

.jmv-variable-editor-widget-move-up:not(.disabled):hover,
.jmv-variable-editor-widget-move-down:not(.disabled):hover {
    color: #999999 ;
}

.jmv-variable-editor-level {
    padding: 5px 0px 5px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #e6e6e6;
}

.jmv-variable-editor-level-value {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 80%;
    text-align: right;
    margin-right: 10px;
}

.jmv-variable-editor-level[data-changed=false] > .jmv-variable-editor-level-value {
    display: none
}

.jmv-variable-editor-level-label {
    padding: 0;
    padding-left: 4px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    border-width: 1px;
    border-color: #e6e6e6;
    height: 100%;
    outline: none;
    margin-right: 5px;
}
