
.jmv-dropdown-widget {
    /*display: flex;
    max-height: 200px;*/
    max-width: 450px;
    /*min-width: 100px;*/
    position: absolute;
    opacity: 1;
    background-color: white;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 5px #c1c1c1;
    transition: 0.3s opacity;
    z-index: 500;
}

.jmv-dropdown-widget * {
    z-index: inherit;
}

.dropdown-remove {
    display: none;
}

.dropdown-hidden {
    opacity: 0;
}

.jmv-dropdown-contents {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-height: 200px;
}
