
.jmv-dropdown-widget {
    max-width: 450px;
    position: absolute;
    opacity: 1;
    background-color: white;
    border: 1px solid #c1c1c1;
    box-shadow: 0px 0px 5px #c1c1c1;
    transition: 0.3s opacity, 0.3s visibility;
    z-index: 500;
    visibility: visible;
}

.jmv-dropdown-widget * {
    z-index: inherit;
}

.dropdown-remove {
    display: none;
}

.dropdown-hidden {
    opacity: 0;
    visibility: hidden;
}

.jmv-dropdown-contents {
    display: flex;
    flex-direction: column;
    flex: 2;
}
