

.jmv-formula-toolbar-options {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 3px 2px 2px 2px;
}

.option-label {
    padding: 7px 5px 5px 5px;
    margin-top: 3px;
    font-weight: bold;
    background-color: #f8f8f8;
}

.option-description {
    height: 35px;
    padding: 5px;
    background-color: #f8f8f8;
}

.jmv-formula-toolbar-options > .ops-box {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.jmv-formula-toolbar-options > .ops-box > .op {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.jmv-formula-toolbar-options > .ops-box > .op:nth-child(2) {
    margin-left: 10px;
}


.jmv-formula-toolbar-options > .ops-box > .op > .content > .subtitle {
    border-bottom: 1px solid #CCCCCC;
    /*border-top: 1px solid #CCCCCC;*/
    text-align: center;
    padding: 5px 0px;
    margin: 5px;
    font-weight: bold
}

.jmv-formula-toolbar-options > .ops-box > .op > .title {
    background-color: #f8f8f8;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding: 3px 0px;
}

.jmv-formula-toolbar-options > .ops-box > .op > .content {
    flex-grow: 1;
    overflow-y: auto;
}

.jmv-formula-toolbar-options > .ops-box > .op > .content > .item {
    flex-grow: 1;
    text-align: left;
    padding: 3px 6px;
}

.jmv-formula-toolbar-options > .ops-box > .op > .content > .item:hover {
    background-color: #F0F0F0;
}

.jmv-formula-toolbar-options > .ops-box > .op > .content > .item-activated {
    background-color: #E8E8E8;
}

.jmv-formula-toolbar-options > .ops-box > .op > .content > .item-grayed-out {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
