
.jmv-missing-value-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    /* height: 20px; */
    width: 100%;
    margin: 3px 0;
    transition: 0.2s height;
    overflow: hidden;
}

.jmv-missing-value-list-item > .label {
    flex-grow: 1;
    margin-inline-end: 15px;
}

/*.jmv-missing-value-list-item:hover {
    background-color: #DDDDDD;
}*/


.jmv-missing-value-list-item .remove-cond {
    text-align: center;
    position: absolute;
    margin-top: 0px;
    margin-inline-end: 10px;
    margin-bottom: 0px;
    margin-inline-start: 5px;
    font-size: 10px;
    color: #bbbbbb;
    cursor: default;
    line-height: 21px;
    top: 3px;
    inset-inline-end: 5px;
}

.jmv-missing-value-list-item .remove-cond:hover {
    color: #c15050;
}

.jmv-missing-value-list-item.hidden {
    opacity: 0;
    height: 0px;
}

.jmv-missing-value-list-item .formula-list-item > .down-arrow {
    position: absolute;
    background-image: url('../../assets/filters-down-arrow.svg');
    background-position: right 2px top 1px;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    top: 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 3ch;
    inset-inline-start: 11.5ch;
    border-inline-end: 1px dashed rgba(62, 109, 169, 0.28);
    border-inline-start: 1px dashed rgba(62, 109, 169, 0.28);
    box-sizing: border-box;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    color: rgba(220, 220, 220, 0);
    line-height: 2;
}

.jmv-missing-value-list-item .formula-list-item > .down-arrow:hover {
    background-color: rgba(62, 109, 169, 0.05);
    border-inline-end: 1px solid rgba(62, 109, 169, 0.28);
    border-inline-start: 1px solid rgba(62, 109, 169, 0.28);
}

.jmv-missing-value-list-item .formula-list-item {
    position: relative;
    height: 100%;
    width: 100%;
    line-height: 200px;
    overflow: hidden;
}

.jmv-missing-value-list-item .formula {
    flex: 1;
    resize: none;
    text-indent: 1.5em;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    padding-top: 6px;
    padding-inline-end: 20px;
    padding-bottom: 6px;
    padding-inline-start: 1ex;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-inline-start: none;
    border-inline-end: none;
    cursor: text;
    overflow-y: auto;
    line-height: 1.3em;
    min-height: 1em;
    height: inherit;
    box-sizing: border-box;
    transition: .2s text-indent;
    margin-inline-end: 5px;
    overflow: hidden;
}

.jmv-missing-value-list-item .formula {
    border-inline-start: 1px solid #CCCCCC;
    border-inline-end: 1px solid #CCCCCC;
}

.jmv-missing-value-list-item .equal span {
    color: rgba(62, 109, 169, 0.35);
}

.jmv-missing-value-list-item .equal {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    pointer-events: none;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    color: #3e6da9;
    padding-top: 6px;
    padding-inline-end: 0;
    padding-bottom: 0px;
    padding-inline-start: 1ch;
    border: 1px solid transparent;
    /* vertical-align: middle; */
    line-height: 1.3em;
    position: absolute;
    /* top: 50%; */
    /* inset-inline-start: 50%; */
    height: 20px;
    /* width: 50%; */
    /* margin-top: -5%; */
}

.jmv-missing-value-list-item .formula-list-item > .down-arrow:hover {
    background-color: rgba(62, 109, 169, 0.05);
    border-inline-end: 1px solid rgba(62, 109, 169, 0.28);
    border-inline-start: 1px solid rgba(62, 109, 169, 0.28);
}

.jmv-missing-value-list-item .formula-list-item > .down-arrow {
    position: absolute;
    background-image: url('../../assets/filters-down-arrow.svg');
    background-position: right 2px top 1px;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    top: 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 3ch;
    inset-inline-start: 13.5ch;
    border-inline-end: 1px dashed rgba(62, 109, 169, 0.28);
    border-inline-start: 1px dashed rgba(62, 109, 169, 0.28);
    box-sizing: border-box;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    color: rgba(220, 220, 220, 0);
    line-height: 2;
}
