
.jmv-variable-new-widget {
    display: flex;
    flex-grow: 1;
}

.jmv-variable-new-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
}

.jmv-variable-new-container > .button {
    display: flex;
    border-radius: 4px;
    text-align: center;
    margin: 7px;
    color: #214067;
    border: none;
    padding: 0px;
    align-items: stretch;
}

.jmv-variable-new-container > .button > .icon {
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline-end: 2px;
    background-color: #cadaf3;
    border: 1px solid transparent;
    transition: .2s background-color ease-out, .2s border-color ease-out;
}

.jmv-variable-new-container > .button > .text {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    flex: 1;
    padding: 20px;
    background-color: #cadaf3;
    border: 1px solid transparent;
    transition: .2s background-color ease-out, .2s border-color ease-out;
}

.jmv-variable-new-container > .button:hover > .icon {
    background-color: #e6ebf3;
    border: 1px solid #cadaf3;
}

.jmv-variable-new-container > .button:hover > .text {
    background-color: #e6ebf3;
    border: 1px solid #cadaf3;
}

.jmv-variable-new-container .data-variable .icon {
    background-image: url('../../assets/variable-nominal.svg');
}

.jmv-variable-new-container .computed-variable .icon {
    background-image: url('../../assets/variable-computed.svg');
}

.jmv-variable-new-container .transformed-variable .icon {
    background-image: url('../../assets/menu-data-transform.svg');
}
