
.jmv-transform-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
    width: 100%;
}

.jmv-transform-list-item > .icon {
    width: 25px;
    height: 25px;
}

.jmv-transform-list-item > .colour {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.jmv-transform-list-item > .label {
    flex-grow: 1;
    /*margin-inline-end: 15px;*/
    padding-top: 6px;
    padding-inline-end: 5px;
    padding-bottom: 6px;
    padding-inline-start: 15px;
    text-align: start;
    background-color: inherit;
    border: none;
}

.jmv-transform-list-item .hidden {
    visibility: hidden;
}

.jmv-transform-list-item:hover {
    background-color: #DDDDDD;
}

.jmv-transform-list-item > .edit {
    margin: 5px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    background-size: 100%;
    filter: opacity(30%);
    background-image: url('../../assets/transform-edit.svg');
    background-repeat: no-repeat;
}

.jmv-transform-list-item > .edit:hover {
    filter: opacity(60%);
}

.jmv-transform-list-item > * {
    border: none;
    padding: 0px;
    background-color: transparent;
}

.jmv-transform-list-item > .duplicate {
    margin: 5px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    background-size: 100%;
    filter: opacity(30%);
    background-image: url('../../assets/transform-duplicate.svg');
    background-repeat: no-repeat;
}

.jmv-transform-list-item > .duplicate:hover {
    filter: opacity(60%);
}

.jmv-transform-list-item > .remove {
    text-align: center;
    margin-top: 0px;
    margin-inline-end: 10px;
    margin-bottom: 0px;
    margin-inline-start: 5px;
    font-size: 10px;
    color: #bbbbbb;
    cursor: default;
    line-height: 21px;
}

.jmv-transform-list-item > .remove:hover {
    color: #c15050;
}
