
.jmv-variable-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    height: 25px;
}

.jmv-variable-list-item > .icon {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.jmv-variable-list-item > .label {
    flex-grow: 1;
}

.jmv-variable-list-item:hover {
    background-color: #DDDDDD;
}

.jmv-variable-list-item > .icon.variable-type-id {
    background-image: url('../assets/variable-id.svg');
}

.jmv-variable-list-item > .icon.variable-type-continuous {
    background-image: url('../assets/variable-continuous.svg');
}

.jmv-variable-list-item > .icon.variable-type-nominal {
    background-image: url('../assets/variable-nominal.svg');
}

.jmv-variable-list-item > .icon.variable-type-nominal.data-type-text {
    background-image: url('../assets/variable-nominal-text.svg');
}

.jmv-variable-list-item > .icon.variable-type-ordinal {
    background-image: url('../assets/variable-ordinal.svg');
}

.jmv-variable-list-item > .icon.variable-type-ordinal.data-type-text {
    background-image: url('../assets/variable-ordinal-text.svg');
}
