.split-button {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    align-items: center;
    padding: 0px 0px 0px 0px;
}

.split-button-main,
.split-button-arrow {
    padding: 4px 8px;
    background: #fff0;
}

.split-button-main {
    border: none;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    height: 24px;
    align-items: center;
    color: #555555;
    font: inherit;
    padding: 0 0 0 5px;
}

[focusmode="hover"] .split-button-main:not([aria-disabled]):hover,
[focusmode="hover"] .split-button-arrow:not([aria-disabled]):hover,
[focusmode="default"] .split-button-main:not([aria-disabled]):hover,
[focusmode="default"] .split-button-arrow:not([aria-disabled]):hover {
    background-color: #d5dfeb;
}

[keyboardfocus="true"] .split-button-main:focus,
[keyboardfocus="true"] .split-button-arrow:focus {
    background-color: #d5dfeb;
}

.split-button-menu .jmv-ribbon-button-label {
    font: inherit;
}

.main-label {
    margin-inline-start: 8px;
}

.split-button-arrow {
    width: 24px;

    background-image: url('../../assets/context-menu-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transform: rotate(180deg);
    border: none;
    background-color: #f0efef;
    height: 100%;
}

.split-button-menu {
    position: absolute;
    left: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 4px 0;
    list-style: none;
    border: 1px solid #ccc;
    background: white;
    min-width: 100%;
    z-index: 999;
}

.split-button-menu li button {
    display: block;
    width: 100%;
    padding: 4px 8px;
    border: none;
    background: white;
    cursor: pointer;
}

.split-button-menu li button:hover {
    background: #ddd;
}
