

.jmv-context-menu-arrow {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    background-image: url(assets/context-menu-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0px 0 20px;
    justify-self: auto;
}

.jmv-ribbon-button-menu.context-menu {
    margin-left: 0px;
    margin-top: -1px;
    left: 100% ;
    top: 0;
    opacity: 1;
    transition: .2s opacity, 0.2s visibility;
    visibility: visible;
}

.jmv-ribbon-button-menu.context-menu.left {
    left: auto ;
    right: 100%;
}

.jmv-ribbon-button-menu.context-menu.right {
    left: 100%;
    right: auto;
}

.jmv-ribbon-button-menu.context-menu.up {
    top: auto ;
    bottom: 0;
}

.jmv-ribbon-button-menu.context-menu.down {
    top: 0;
    bottom: auto;
}
