
*.so
*.pyd
*.swp
.DS_Store

node_modules/
npm-debug.log

server/build/
server/jamovi/core.cpp
electron/default_app.asar

**/__pycache__/

client/*
!client/package.json

# protocol buffers
*.pb.cc
*.pb.h
*_pb2.py
*_pb.js
