
*.so
*.pyd
*.swp

node_modules/

core/libsilky/silky.cpp

**/__pycache__/

client/js/*.js
client/css/bundle.css
client/css/bundle.min.css

analyses/inst/*.js
analyses/inst/*.proto
analyses/inst/*.json

# protocol buffers
*.pb.cc
*.pb.h
