
*.so
*.pyd
*.swp
.DS_Store

analyses/
node_modules/
npm-debug.log

core/core/core.cpp

**/__pycache__/

server/resources/client/*.js
server/resources/client/*.css

server/resources/modules/*
!server/resources/modules/base
server/resources/modules/base/*
!server/resources/modules/base/R
server/resources/modules/base/R/*
!server/resources/modules/base/R/.empty

# protocol buffers
*.pb.cc
*.pb.h
*_pb2.py

