
.silky-ribbon {
    width: 100% ;
}

.silky-ribbon-tab {
    display: inline-block ;
    background-color : inherit ;
    color: white ;
    padding: 8px 20px ;
}

.silky-ribbon-tab:hover {
    color: #EEE ;
}

.silky-ribbon-tab.selected {
    background-color : #EDEDED ;
    color: #B7121F ;
}

.silky-ribbon-body {
    background-color : #EDEDED ;
    height: 80px ;
    padding: 12px 12px ;
}

.silky-ribbon-button {
    width: 74px ;
    padding: 6px ;
    font-size: 80% ;
    text-align: center ;
}

.silky-ribbon-button:hover {
    background-color: #DDD ;
}

.silky-ribbon-button-icon {
    width: 100% ;
    height: 44px ;
    padding: 4px ;
    background-image: url('../assets/analysis-descriptives.svg');
    background-repeat: no-repeat ;
}

.silky-ribbon-button-label {
    margin-top: 1px ;
}
