
.silky-splitpanel-splitter {
    cursor: ew-resize;
}


.silky-sp-back-button {
    font-size: 24px ;
    width: 40px ;
    height: 40px ;
    //float: right;
    box-sizing: border-box ;
    border: 3px solid #555555 ;
    border-radius: 50% ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-top: 6px ;
    margin-bottom: 6px ;
    margin-right: 6px ;
    color: #555555 ;
    display: inline-block;
}

.silky-sp-back-button:hover {

    border-color: #999999 ;
    color: #999999 ;
}

.silky-sp-back-button span {
    line-height: 34px ;
}
