
.silky-bs {
    display: flex ;
    position: fixed ;
    overflow: hidden;
    left: 0 ;
    top: 0 ;
    background-color: #F0F0F0 ;
    z-index: 100 ;
    width: 0px;
    height: 100% ;
    transition: .2s width ease-out, 0.2s visibility ease-out;
    visibility: hidden;
    filter: drop-shadow(0px 0px 5px #00000066);
}

.ops-title{
    opacity: 1;
    vertical-align: -moz-middle-with-baseline;
    line-height: 100px;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    background-image: none !important;
    text-indent: 40px;
}

.place-title {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #3e6da9;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: lighter;
    text-indent: 10px;
}

.searchbox {
    position: relative;
    margin: 5px 5px 9px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bs-menu-list-item:focus {
    background-color: #f4f4f4;
    outline: none;
}

[keyboardfocus="true"] .bs-menu-list-item:focus {
    border: 2px solid #7b7b7b;
}

.searchbox > .image {
    width: 20px;
    height: 20px;
    filter: opacity(60%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-image: url('../assets/variable-search.svg');
    border-radius: 3px;
    margin-right: 4px;
}

.searchbox > input {
    width: 100%;
    padding-left: 5px;
}

.silky-bs.activated {
    width: 250px;
    visibility: visible;
}

.silky-bs.activated-sub {
    width: 750px;
}

.silky-bs-op-panel {
    min-width: 250px;
    max-width: 250px;
    left: 0;
    top: 0 ;
    height: 100% ;
    z-index: 0 ;
    background-color: #FFFFFF ;
    color: #333333 ;
    display: flex;
    flex-direction: column;
}

.silky-bs-main {
    display: flex;
    flex: 1;
    position: relative;
    -webkit-app-region: no-drag;
}

.silky-bs-header {
    display: flex ;
    height: 100px;
    background-color: #3E6DA9 ;
}

.silky-bs-logo {
    flex: 4;
    background-image: url('../assets/logo-store.svg');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.silky-bs-back {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.silky-bs-back-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.silky-bs-back-button > div {
    flex: 1;
    mask: url('../assets/action-back.svg') 0 0/30px 30px no-repeat;
    background-color: #FFFFFF;
    -webkit-mask: url('../assets/action-back.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 30px;
    width: 40px;
    height: 40px;
}

.silky-bs-back-button:hover > div {
    background-color: #B2C2D7 ;
}

.silky-bs-op-list {
    margin-top: 20px;
}

.silky-bs-op-separator {
    flex: 1;
}

.disabled-div {
    -webkit-filter: grayscale(100%) opacity(50%);
    filter: grayscale(100%) opacity(50%);
    pointer-events: none;
}

.silky-bs-op-button, .silky-bs-op-header {
    padding: 12px 24px 12px 18px;
    cursor: default ;
    /*font-weight: bold;*/
    font-size: 120%;
    font-weight: 400;
}

.silky-bs-op-button {
    border: 2px solid transparent;
    position: relative;
}

.silky-bs-op-button:hover {
    background-color: #f3f6fb ;
}

.selected > .silky-bs-op-button {
    background-color: #F0F0F0 ;
    font-weight: 500;
}

.silky-bs-menu-item.selected {
    padding: 10px 0px 10px 0px;
}

.silky-bs-menu-item {
    transition: .2s padding ease-out;
}

.silky-bs-op-places {
    height: 0;
    opacity: 0;
    overflow: visible;
    padding: 0px 0px 0px 0px;
    transition: .2s height ease-out, .2s opacity ease-out, 0.2s visibility ease-out;
    visibility: hidden;
}

.silky-bs-op-place.selected-place {
    /*background-color: #e1e9f4 ;*/
    padding: 8px 0px 8px 28px;
    font-weight: bold;
    color: #3E6DA9;
    font-size: 105%;
    /*font-weight: 500;*/

}

.silky-bs-op-place {
    padding: 8px 0px 8px 28px;
    transition: .2s padding ease-out;
    border: 2px solid transparent;
    position: relative;
}

.silky-bs-op-place:not(.selected-place):hover {
    background-color: #f6f9fd ;
}

.silky-bs-op-place .shortcut-key-tag {
    left: 3em;
}

.silky-bs-fslist-entry .shortcut-key-tag {
    left: 3em;
}

.silky-bs-op-button .shortcut-key-tag {
    left: 2em;
    font-size: 80%;
}

.silky-bs-op-recents-main {
    margin-bottom: 20px;
    overflow: visible;
}

.silky-bs-back-button:focus {
    background-color: #f4f4f447;
}

[keyboardfocus="true"] .silky-bs-op-panel:focus-within .silky-bs-back-button.bs-menu-highlighted-item {
    border: 2px solid #ffffff;
}

/*.bs-menu-highlighted-item {
    background-color: #f4f4f4;
}*/

[keyboardfocus="true"] .silky-bs-op-panel:focus-within .bs-menu-highlighted-item {
    border: 2px solid #7b7b7b;
}

.silky-bs-fslist:focus, #backstage:focus {
    outline: none;
}

.silky-bs-op-recents.silky-bs-fslist {
    padding-left: 0px;
    overflow: visible;
}

.silky-bs-op-recents .silky-bs-fslist-item {
    height: 20px ;
}

.silky-bs-op-recents .silky-bs-fslist-entry {
    padding-left: 25px;
    width: auto;
    border: 2px solid transparent;
    background-color: inherit;
    text-align: left;
}

.silky-bs-op-recents .silky-bs-fslist-entry:hover {
    background-color: #f3f6fb ;
}

.silky-bs-op-recents .silky-bs-fslist-entry-meta {
    display: none;
}

.silky-bs-op-recents .silky-bs-fslist-entry-icon {
    width: 20px;
    height: 20px;
}

.silky-bs-op-recents .silky-bs-fslist-entry-name {
    width: 180px ;
    overflow: hidden ;
    text-overflow: ellipsis ;
}

.silky-bs-mid {
    color: #555555 ;
    flex: 1;
}

.silky-bs-places-panel {
    padding-top: 50px ;
    top: 0 ;
    width: 300px ;
    height: 100% ;
}

.silky-bs-mid .silky-bs-title {
    margin-bottom: 24px ;
}

.silky-bs-mid .silky-bs-places {
    border-right: 1px solid #DDDDDD ;
    bottom: 24px ;
}

.silky-bs-mid hr {
    height: 1px ;
    background-color: #CCCCCC ;
}

.silky-bs-place {
    font-size: 120% ;
    height: 40px ;
    line-height: 40px ;
    padding-left: 12px ;
    margin-top: 6px ;
    background-size: auto 60% ;
    background-repeat: no-repeat ;
    background-position: 8px center ;
    padding-left: 40px ;
}

.silky-bs-place-separator {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
    height: 6px;
    margin-right: 20px;
}

.silky-bs-place:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-place:active,
.silky-bs-place[data-selected] {
    background-color: #BACDE6 ;
}

.silky-bs-place[data-place="recent"] {
    background-image: url('../assets/place-recent.svg');
}

.silky-bs-place[data-place="thispc"] {
    background-image: url('../assets/place-this-pc.svg');
}

.silky-bs-place[data-place="browse"] {
    background-image: url('../assets/place-browse.svg');
}

.silky-bs-place[data-place="osf"] {
    background-image: url('../assets/place-osf.svg');
}

.silky-bs-place[data-place="examples"] {
    background-image: url('../assets/place-folder-favourite.svg');
}

.silky-bs-choices {
    position: absolute ;
    left: 435px ;
    top: 136px ;
    bottom: 20px ;
    right: 10px ;
    padding: 18px 18px 18px 0px ;
    box-sizing: border-box ;
    overflow: hidden;
}

.silky-bs-choices-list {
    flex: 1;
    position: absolute ;
    top: 0 ;
    min-height: 100px ;
    min-width: 100px ;
    overflow: hidden;
    padding: 20px;
    transition: .2s opacity ease-out, 0.2s visibility ease-out;
    opacity: 0;
    visibility: hidden;
}

.silky-bs-choices-list.fade-in {
    opacity: 1;
    visibility: visible;
}

.silky-bs-fslist {
    display: flex;
    flex-flow: column; nowrap;
}

.silky-bs-fslist-entry {
    padding: 6px ;
    width: 310px ;
    white-space: nowrap ;
    position: relative;
}

.silky-bs-fslist-entry:hover, .silky-bs-fslist-item:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-entry-icon {
    width: 40px ;
    height: 40px ;
    background-image: url('../assets/document-spreadsheet.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    margin-left: 2px ;
    margin-right: 2px ;
}

.silky-bs-fslist-item > .shortcut-key-tag {
    left: 0px;
    top: 0px;
}

.silky-bs-fslist-item {
    box-sizing: border-box;
    height: 48px ;
    display: flex ;
    flex-flow: row nowrap;
    box-sizing: border-box;
    align-items: center;
    padding-right: 4px ;
    border: 2px solid transparent;
    position: relative;
}

.silky-bs-fslist-item > * {
    margin-left: 2px;
    margin-right: 2px;
}

.silky-bs-flist-icon {
    width: 40px ;
    height: 40px ;
    background-size: 100% ;
    /*display: inline-block ;
    vertical-align: middle ;*/
}

.silky-bs-flist-item-csv-icon {
    background-image: url('../assets/document-spreadsheet.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-omv-icon {
    background-image: url('../assets/document-native.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-omt-icon {
    background-image: url('../assets/document-template.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-browse-icon {
    background-image: url('../assets/place-browse.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-icon {
    background-image: url('../assets/place-folder.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-special-icon {
    background-image: url('../assets/place-folder-favourite.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-import-icon {
    background-image: url('../assets/action-save.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    width: 22px ;
    height: 22px ;
}

.silky-bs-flist-save-icon {
    background-image: url('../assets/action-save.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    width: 22px ;
    height: 22px ;
}

.silky-bs-flist-save-icon.saving-file, .silky-bs-flist-import-icon.saving-file {
    background-image: url('../assets/indicator-running.svg');
}

.indicator-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.indicator-box .loading-indicator {
    background-image: url('../assets/indicator-running.svg');
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 10px;
}

.silky-bs-fslist-items {
    position: relative;
    outline: none;
}

.silky-bs-fslist-entry-group {
    width: 100% ;
}

.silky-bs-fslist-entry-group,
.silky-bs-fslist-entry-icon,
.silky-bs-flist-item-icon {
    display: inline-block ;
    vertical-align: middle ;
}

.silky-bs-flist-item-icon {
    font-size: 30px ;
    width: 40px ;
    box-sizing: border-box ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
}

.silky-bs-fslist-entry-meta {
    margin-top: 3px ;
    font-size: 75% ;
    display: grid ;
    grid-template-columns: 1fr max-content max-content ;
    align-items: center ;
}

.silky-bs-fslist-entry-meta .description {
    grid-column: 1 / 3;
    grid-row: 1;
    color: #777777;
}

.silky-bs-fslist-entry-meta .tags {
    grid-column: 2 / 3;
    grid-row: 1;
}

.silky-bs-fslist-entry-meta .tag {
    display: inline-block ;
    padding: 2px 4px ;
    /*border-radius: 2px ;*/
    border-width: 1px ;
    border-style: solid ;
    margin: 2px ;
    color: #FEFEFE ;
}

.silky-bs-fslist-entry-meta .license {
    grid-column: 3 / 3;
    grid-row: 1;
}


.silky-bs-fslist-entry-path {
    display: none ;
}

.silky-bs-fslist-path-browser {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /*border-top: #e1e1e1 solid 2px;*/
}

.silky-bs-header {
    -webkit-app-region: drag;
}

.silky-bs-header .silky-bs-back-button div {
    -webkit-app-region: no-drag;
}

.silky-bs-fslist-footer {
    margin-top: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #DDDDDD ;
    padding-top: 5px;
}

.silky-bs-fslist-header {
    /*padding-bottom: 5px;*/
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD ;
}

.silky-bs-fslist-browser-save-name {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    width: 100%;
    font-size: 15px ;
    margin-bottom: 2px;
    padding: 4px 4px 4px 4px;
    box-sizing: border-box;
}

.silky-bs-fslist-browser-save-filetype {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 2px;
    box-sizing: border-box;
}

.silky-bs-fslist-browser-save-filetype-inner {
    width: 100%;
    font-size: 14px ;
    box-sizing: border-box;
    border: none;
    padding: 3px 4px 3px 2px;
    background-color: transparent;
}

.silky-bs-fslist-save-options {
    margin-bottom: 20px;
}

.silky-bs-fslist-import-options {
    margin-top: 5px;
    height: 30px;
    opacity: 1;
    transition: 0.2s opacity, 0.2s height, 0.2s visibility;
    visibility: visible;
}

.silky-bs-fslist-import-options.hidden {
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

.jmv-bs-fslist-checkbox {
    margin-left: 5px !important;
    margin-right: 0px !important;
    opacity: 1;
    transition: 0.2s opacity, 0.2s width, 0.2s margin, 0.2s visibility;
    visibility: visible;
}

.jmv-bs-fslist-checkbox.hidden {
    width: 0px !important;
    margin: 0px !important;
    opacity: 0;
    /* this is to handle checkboxes not shrinking to 0 width in firefox*/
    visibility: hidden;
    order: 100;
    position: absolute;
    /*/////////////////////////////////////*/
}

.silky-bs-fslist-browser-import-name {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    width: 100%;
    font-size: 15px ;
    margin-bottom: 2px;
    padding: 4px 4px 4px 4px;
    box-sizing: border-box;
}

.silky-bs-fslist-browser-import-name:hover {
    border-color: #B1C5DE ;
}

.silky-bs-fslist-browser-save-name:hover, .silky-bs-fslist-browser-save-filetype:hover {
    border-color: #B1C5DE ;
}

.silky-bs-fslist-browser-save-button, .silky-bs-fslist-browser-import-button {
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    font-size: 15px ;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: #FFFFFF ;
    box-sizing: border-box;
    padding: 3px 12px 3px 10px;
}

.silky-bs-fslist-selected-item {
    background-color: #BACDE6 ;
    border-style: solid;
    border-width: 2px;
}

[keyboardfocus="true"] .silky-bs-fslist-items:focus-within .silky-bs-fslist-selected-item {
    border: 2px solid #7b7b7b;
}

.silky-bs-fslist-browser-save-button > *, .silky-bs-fslist-browser-import-button > * {
    margin: 0px 3px 0px 3px;
}

.silky-bs-fslist-browser-save-button:not(.disabled-div):hover, .silky-bs-fslist-browser-import-button:not(.disabled-div):hover {
    border-color: #B1C5DE ;
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-browser-location {
    font-size: 120% ;
    height: 19px;
    overflow: hidden;
    white-space: nowrap ;
    margin-left: 5px;
    /*padding: 3px 0px 3px 5px;
    background-color: white;
    border: #c1c1c1 solid 1px;
    border-right-style: none;*/
}

.silky-bs-fslist-browse-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 3px 12px 3px 10px;
    border: none;
    font-family: inherit;
    position: relative;
}

.silky-bs-fslist-browse-button:hover {
    /*border-color: #B1C5DE ;*/
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-browser-location-icon {
    background-size: 100% ;
    font-size: 20px ;
    width: 23px ;
    height: 23px ;
    box-sizing: border-box ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-right: 5px ;
}

.silky-bs-fslist-browser-back-button {
    font-size: 20px ;
    width: 30px ;
    height: 30px ;
    box-sizing: border-box ;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    /*margin-top: 6px ;
    margin-bottom: 6px ;*/
    margin-left: 0px ;
    color: #3E6DA9 ;
    flex: 0 1 auto;
    padding: 0px;
    position: relative;
}

.silky-bs-fslist-browser-check-button {
    width: 30px ;
    height: 30px ;
    box-sizing: border-box ;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    margin-left: 0px ;
    color: #3E6DA9 ;
    flex: 0 1 auto;
    background-image: url('../assets/bs-check-items.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 77% ;
    position: relative;
}

.silky-bs-fslist-browser-back-button:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-browser-check-button:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-browser-check-button.on {
    background-color: #bacde6 ;
}

.silky-bs-fslist {
    padding-left: 20px ;
    box-sizing: border-box;
}

.silky-development-msg {
    font-size: 120%;
    font-weight: 100;
}

.silky-development-title {
    font-size: 160%;
    padding-top: 10px;
    height: 40px;
    font-weight: 100;
    line-height: 40px;
    margin-bottom: 10px;
    color: #333333;
    border-top: 2px solid #cccccc;
}

.silky-under-development {
    margin-left: 40px;
    margin-top: 100px;
}
