
.silky-bs {
    position: fixed ;
    left: 0 ;
    top: 0 ;
    background-color: #F0F0F0 ;
    z-index: 100 ;
    width: 100% ;
    height: 100% ;
}

.silky-bs-op-panel {
    width: 100px;
    position: fixed ;
    left: 0;
    top: 0 ;
    height: 100% ;
    z-index: 10 ;
    background-color: #3E6DA9 ;
    color: #FFFFFF ;
    padding: 20px 0px;
}

.silky-bs-back-button {
    font-size: 24px ;
    width: 40px ;
    height: 40px ;
    box-sizing: border-box ;
    border: 3px solid white ;
    border-radius: 50% ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-top: 6px ;
    margin-bottom: 12px ;
    margin-left: 18px ;
}

.silky-bs-back-button:hover {

    border-color: #DDDDDD ;
    color: #DDDDDD ;
}

.silky-bs-back-button span {
    line-height: 34px ;
}

.silky-bs-op-button {
    padding: 12px 24px 12px 18px;
    cursor: default ;
}

.silky-bs-op-button:hover {
    background-color: #325787 ;
}

.silky-bs-op-button.selected {
    background-color: #6E96CA ;
}

.silky-bs-mid {
    color: #555555 ;
}

.silky-bs-places-panel {
    padding-top: 50px ;
    position: absolute ;
    top: 0 ;
    width: 300px ;
    height: 100% ;
}

.silky-bs-mid .silky-bs-title {
    margin-bottom: 24px ;
}

.silky-bs-mid .silky-bs-places {
    border-right: 1px solid #DDDDDD ;
    bottom: 24px ;
}

.silky-bs-mid hr {
    height: 1px ;
    background-color: #CCCCCC ;
}

.silky-bs-place {
    font-size: 120% ;
    height: 40px ;
    line-height: 40px ;
    padding-left: 12px ;
    margin-top: 6px ;
    background-size: auto 60% ;
    background-repeat: no-repeat ;
    background-position: 8px center ;
    padding-left: 40px ;
}

.silky-bs-place-separator {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
    height: 6px;
    margin-right: 20px;
}

.silky-bs-place:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-place:active,
.silky-bs-place[data-selected] {
    background-color: #BACDE6 ;
}

.silky-bs-place[data-place="recent"] {
    background-image: url('assets/place-recent.svg');
}

.silky-bs-place[data-place="thispc"] {
    background-image: url('assets/place-this-pc.svg');
}

.silky-bs-place[data-place="browse"] {
    background-image: url('assets/place-browse.svg');
}

.silky-bs-place[data-place="osf"] {
    background-image: url('assets/place-osf.svg');
}

.silky-bs-place[data-place="examples"] {
    background-image: url('assets/place-folder-favourite.svg');
}

.silky-bs-choices {
    position: absolute ;
    left: 435px ;
    top: 136px ;
    bottom: 20px ;
    right: 200px ;
    padding: 18px 18px 18px 0px ;
    box-sizing: border-box ;
    overflow: hidden;
}

.silky-bs-choices-list {
    position: absolute ;
    top: 0 ;
    min-height: 100px ;
    min-width: 100px ;
    overflow: hidden;
}

.silky-bs-fslist {
    display: flex;
    flex-flow: column; nowrap;
}

.silky-bs-fslist-entry {
    padding: 6px ;
    width: 300px ;
    white-space: nowrap ;
}

.silky-bs-fslist-entry:hover, .silky-bs-fslist-item:hover {
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-entry-icon {
    width: 32px ;
    height: 32px ;
    background-image: url('assets/document-spreadsheet.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    margin-left: 6px ;
    margin-right: 6px ;
}

.silky-bs-fslist-item {
    box-sizing: border-box;
    height: 48px ;
    display: flex ;
    flex-flow: row nowrap;
    box-sizing: border-box;
    align-items: center;
}

.silky-bs-fslist-item > * {
    margin-left: 2px;
    margin-right: 2px;
}

.silky-bs-flist-icon {
    width: 40px ;
    height: 40px ;
    background-size: 100% ;
    /*display: inline-block ;
    vertical-align: middle ;*/
}

.silky-bs-flist-item-csv-icon {
    background-image: url('assets/document-spreadsheet.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-browse-icon {
    background-image: url('assets/place-browse.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-icon {
    background-image: url('assets/place-folder.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-item-folder-special-icon {
    background-image: url('assets/place-folder-favourite.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}

.silky-bs-flist-save-icon {
    background-image: url('assets/action-save.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    width: 22px ;
    height: 22px ;
}

.silky-bs-fslist-items {
    position: relative;
}

.silky-bs-fslist-entry-group,
.silky-bs-fslist-entry-icon,
.silky-bs-flist-item-icon {
    display: inline-block ;
    vertical-align: middle ;
}

.silky-bs-flist-item-icon {
    font-size: 30px ;
    width: 40px ;
    box-sizing: border-box ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
}

.silky-bs-fslist-entry-location {
    margin-top: 3px ;
    font-size: 75% ;
}

.silky-bs-fslist-entry-path {
    display: none ;
}

.silky-bs-fslist-path-browser {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.silky-bs-fslist-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #DDDDDD ;
}

.silky-bs-fslist-browser-save-name {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    width: 100%;
    font-size: 15px ;
    margin-bottom: 2px;
    padding: 4px 4px 4px 4px;
    box-sizing: border-box;
}

.silky-bs-fslist-browser-save-filetype {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 2px;
    box-sizing: border-box;
}

.silky-bs-fslist-browser-save-filetype-inner {
    width: 100%;
    font-size: 14px ;
    box-sizing: border-box;
    border: none;
    padding: 3px 4px 3px 2px;
    background-color: transparent;
}

.silky-bs-fslist-save-options {
    margin-bottom: 7px;
}

.silky-bs-fslist-browser-save-name:hover, .silky-bs-fslist-browser-save-filetype:hover {
    border-color: #B1C5DE ;
}

.silky-bs-fslist-browser-save-button {
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    font-size: 15px ;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    background-color: #FFFFFF ;
    box-sizing: border-box;
    padding: 3px 12px 3px 10px;
}

.silky-bs-fslist-selected-item {
    background-color: #BACDE6 ;
    border-style: dotted;
    border-width: 1px;
}

.silky-bs-fslist-browser-save-button > * {
    margin: 0px 3px 0px 3px;
}

.silky-bs-fslist-browser-save-button:hover {
    border-color: #B1C5DE ;
    background-color: #DBE4F3 ;
}

.silky-bs-fslist-browser-location {
    font-size: 120% ;
    overflow: hidden;
    white-space: nowrap ;
}

.silky-bs-fslist-browser-location-icon {
    background-size: 100% ;
    font-size: 20px ;
    width: 23px ;
    height: 23px ;
    box-sizing: border-box ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-right: 3px ;
}

.silky-bs-fslist-browser-back-button {
    font-size: 20px ;
    width: 30px ;
    height: 30px ;
    box-sizing: border-box ;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-top: 6px ;
    margin-bottom: 6px ;
    margin-left: 0px ;

    color: #3E6DA9 ;
    flex: 0 1 auto;
}

.silky-bs-fslist-browser-back-button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #B1C5DE ;
    background-color: #DBE4F3 ;
}

.silky-bs-fslist {
    padding-left: 20px ;
    box-sizing: border-box;
}

.silky-development-title {
    font-size: 140% ;
    height: 40px ;
    line-height: 40px ;
    margin-bottom: 10px;
}

.silky-under-development {
    margin-left: 40px;
}
