
.silky-bs {

    position: fixed ;
    left: 0 ;
    top: 0 ;
    background-color: rgb(223, 223, 223) ;
    z-index: 10 ;
    width: 100% ;
    height: 100% ;
}

.silky-bs-op-panel {

    position: fixed ;
    left: 0;
    top: 0 ;
    height: 100% ;
    z-index: 10 ;
    background-color: #B7121F ;
    color: #ffffff ;
    padding: 8px 0px;
}

.silky-bs-back-button {
    font-size: 24px ;
    width: 40px ;
    height: 40px ;
    box-sizing: border-box ;
    border: 3px solid white ;
    border-radius: 50% ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-top: 6px ;
    margin-bottom: 12px ;
    margin-left: 18px ;
}

.silky-bs-back-button:hover {

    border-color: #DDDDDD ;
    color: #DDDDDD ;
}

.silky-bs-back-button span {
    line-height: 34px ;
}

.silky-bs-op-button {
    padding: 12px 24px 12px 18px;
    cursor: default ;
}

.silky-bs-op-button:hover {
    background-color: #D84B54 ;
}

.silky-bs-op-button.selected {
    background-color: #97121F ;
}

.silky-bs-mid {
    color: #555555 ;
}

.silky-bs-places-panel {
    padding-top: 50px ;
    position: absolute ;
    top: 0 ;
    width: 300px ;
    height: 100% ;
}

.silky-bs-mid .silky-bs-title {
    margin-bottom: 24px ;
}

.silky-bs-mid .silky-bs-places {
    border-right: 1px solid #CCC ;
    padding-right: 18px ;
    bottom: 24px ;
}

.silky-bs-mid hr {
    height: 1px ;
    background-color: #CCC ;
}

.silky-bs-place {
    font-size: 120% ;
    height: 40px ;
    line-height: 40px ;
    padding-left: 12px ;
    margin-top: 6px ;
}

.silky-bs-place:hover {
    background-color: #CCCCCC ;
}

.silky-bs-place.selected {
    background-color: #E86D78 ;
    color: #333333 ;
}

.silky-bs-osf {
    background-image: url('assets/logo-osf.png');
    background-size: auto 60% ;
    background-repeat: no-repeat ;
    background-position: 8px center ;
    padding-left: 40px ;
}

.silky-bs-place [class^="mif-"] {
    position: relative ;
    top: -1px ;
    margin-right: 12px ;
}

.silky-bs-choices {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
    margin-left: 425px ;
    padding: 120px 18px 18px 18px ;
    box-sizing: border-box ;
}

.silky-bs-fslist-entry {
    padding: 6px ;
    width: 300px ;
}

.silky-bs-fslist-entry:hover {
    background-color: #EEEEEE ;
}

.silky-bs-fslist-entry-icon {
    font-size: 130% ;
    margin-left: 6px ;
    margin-right: 6px ;
}

.silky-bs-fslist-entry-group,
.silky-bs-fslist-entry-icon {
    display: inline-block ;
    vertical-align: middle ;
}

.silky-bs-fslist-entry-location {
    margin-top: 3px ;
    font-size: 75% ;
}

.silky-bs-fslist-entry-path {
    display: none ;
}
