
#help {
    overflow: auto;
    border: 1px solid #555555 ;
    border-radius: 5px ;
    padding: 5px ;
    background-color: white;
}

#main-options {
    background-color: inherit;
    border: 1px solid #555555 ;
}

#results {
    border: 1px solid #555555 ;
    padding: 5px ;
}

.silky-splitpanel-splitter {
    background-color: inherit;
}

.silky-options-control {
    height: 100%;
    float: right;
    box-sizing: border-box;
    width: 585px;
    border: none;
}

.silky-hidden-options-control {
    visibility: hidden;
    height: 0px;
}
