
* {
    user-select: none ;
    -webkit-user-select: none;
       -moz-user-select: none;
}

html, body {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #333333 ;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
    background-color: #3E6DA9 ;
    padding: 0 ;
    cursor: default ;
    display: flex ;
    flex-flow: column ;
}

body.windows {
    padding: 1px ;
}

body.drag-in-progress {
    pointer-events: none ;
}

h1 {
    font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}

hr {
    height: 1px ;
    border: 0 ;
    background-color: #CCCCCC ;
}

#header {
    font-weight: normal ;
    color: white ;
    text-align: center ;
    min-height: 6px ;
}

body.windows #header {
    height: 32px ;
    line-height: 32px ;
}

#header-text {
    display: none ;
}

.app-dragable:not(.ignore) {
    -webkit-app-region: drag;
}

body.windows #header-text {
    display: block ;
    margin-left: 80px ;
    margin-right: 150px ;
    display: block;
}

.header-file-name:not(:empty)::before {
    content: " - ";
}

#header-buttons {
    z-index: 200 ;
    position: fixed;
    top: 1px;
    right: 1px;
    display: none ;
}

body.windows.electron #header-buttons {
    display: block ;
}

.header-button {
    display: inline-block ;
    width: 46px ;
    height: 31px ;
    box-sizing: border-box ;
}

.header-button:hover {
    background-color: #6E96CA ;
}

.header-button .header-button-icon {
    margin: 10px auto ;
    width:10px ;
    height:10px ;
    box-sizing: border-box ;
    border-style: solid ;
    border-width: 0 ;
}

.header-button:hover .header-button-icon {
    border-color: white ;
}

#min-button .header-button-icon {
    margin-top: 15px ;
    height: 1px ;
    border-width: 1px 0 0 0 ;
}

#max-button .header-button-icon {
    border-width: 1px ;
}

#close-button .header-button-icon {
    background-image: url('assets/action-close.svg');
}

#close-button:hover {
    background-color: #E81123 ;
}

#main-view {
    padding-top: 6px ;
    border-top: 1px solid #D0D0D0 ;
    background-color: #E6E6E6 ;
    flex-grow: 1;
}

#main-options {
    background-color: inherit;
    border: 1px solid #ACACAC ;
}

#results {
    font-style: sans-serif ;
    border: 1px solid #ACACAC ;
}

#results h1 {
    margin-left: .4em ;
}

#splitter {
    width: 8px ;
}

#help {
    overflow: auto;
    border: 1px solid #555555 ;
    border-radius: 5px ;
    padding: 5px ;
    background-color: white;
}

.silky-splitpanel-splitter {
    background-color: inherit;
}

.silky-options-control {
    height: 100%;
    float: right;
    box-sizing: border-box;
    width: 585px;
    border: none;
}

.silky-hidden-options-control {
    visibility: hidden;
    height: 0px;
    opacity: 0;
}

.silky-options-control {
    transition: opacity 0.5s;
}

#progress-bar-helper {
    position: absolute ;
    left: 0 ;
    top: 0 ;
    display: table ;
    width: 100% ;
    height: 100% ;
    pointer-events:none;
}

#progress-bar-align-center {
    display: table-cell ;
    vertical-align: middle ;
    text-align: center ;
    pointer-events:none;
}

#progress-bar {
    display: inline-block ;
    margin: 0 auto ;
    width: 400px ;
    background-color: #B7121F ;
}

#notifications {
    position: absolute ;
    width: 400px ;
    height: 100% ;
    top : 0 ;
    padding: 12px 0 ;
    right: 12px ;
    box-sizing: border-box;
    z-index: 110 ;
}
