
* {
    user-select: none ;
    -webkit-user-select: none;
    -moz-user-select: none;
}

input, [contenteditable], [contenteditable] * {
    user-select: initial ;
    -webkit-user-select: initial;
    -moz-user-select: initial;
}

html, body {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #333333 ;
    overflow: hidden ;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
    background-color: #3E6DA9 ;
    padding: 0 ;
    cursor: default ;
    display: flex ;
    flex-flow: column ;
}

body.windows.electron {
    padding: 1px ;
}

body.drag-in-progress {
    pointer-events: none ;
}

h1 {
    font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}

hr {
    height: 1px ;
    border: 0 ;
    background-color: #CCCCCC ;
}

#header {
    font-weight: normal ;
    color: white ;
    text-align: center ;
    min-height: 6px ;
}

body.windows.electron #header {
    height: 32px ;
    line-height: 32px ;
    flex-grow: 0;
    flex-shrink: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CCCCCC;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #CCCCCC;
}

div[placeholder]:empty::before {
    content: attr(placeholder);
    color: #CCCCCC;
}

#header-text {
    display: none ;
}

#variablelist {
    height: 0%;
    opacity: 0;
    transition: 0.2s height, 0.2s opacity;
}

#spreadsheet {
    height: 0%;
    opacity: 0;
    transition: 0.2s height, 0.2s opacity;
    width: 100%;
    position: absolute;
    display: grid;
}

body[data-table-mode=variables] #main-view #variablelist {
    height: 100%;
    opacity: 1;
}

body[data-table-mode=spreadsheet] #main-view #spreadsheet {
    height: 100%;
    opacity: 1;
}

.app-dragable:not(.ignore) {
    -webkit-app-region: drag;
}

body.windows.electron #header-text {
    display: block ;
    margin-left: 80px ;
    margin-right: 150px ;
    display: block;
}

.header-file-name:not(:empty)::before {
    content: " - ";
}

#header-buttons {
    z-index: 200 ;
    position: fixed;
    top: 1px;
    right: 1px;
    display: none ;
    height: 31px;
}

body.windows.electron #header-buttons {
    display: block ;
}

.header-button {
    display: inline-block ;
    width: 46px ;
    height: 31px ;
    box-sizing: border-box ;
}

.header-button:hover {
    background-color: #6E96CA ;
}

.header-button .header-button-icon {
    margin: 10px auto ;
    width:10px ;
    height:10px ;
    box-sizing: border-box ;
    border-style: solid ;
    border-width: 0 ;
}

.header-button:hover .header-button-icon {
    border-color: white ;
}

#min-button .header-button-icon {
    margin-top: 15px ;
    height: 1px ;
    border-width: 1px 0 0 0 ;
}

#max-button .header-button-icon {
    border-width: 1px ;
}

#close-button .header-button-icon {
    background-image: url('../assets/action-close.svg');
}

#close-button:hover {
    background-color: #E81123 ;
}

#main-table {
    grid-area: 2 / 1 / span 1 / span 1;
    overflow: hidden;
    position: relative;
    transition: opacity 0.1s, width 0.2s;
    min-width: 0px;
}

#main-view {
    padding-top: 6px ;
    border-top: 1px solid #D0D0D0 ;
    background-color: #E6E6E6 ;
    flex-grow: 1;
    display: grid;
    grid-template-rows: minmax(0px, min-content) 1fr;
    grid-template-columns: 1fr auto 0px auto 1fr;
}

#main-options {
    background-color: inherit;
    border: 1px solid #ACACAC ;
    grid-area: 2 / 3 / span 1 / span 1;
    transition: 0.2s width, 0.2s opacity;
    width: 587px;
    opacity: 1;
    overflow: hidden;
    z-index: 40;
    position: relative;
    justify-self: flex-end;
    min-width: 0px;
}

.hidden-panel {
    width: 0px !important;
    opacity: 0 !important;
    min-width: 0px !important;
}


#results {
    font-style: sans-serif ;
    border: 1px solid #ACACAC ;
    grid-area: 2 / 5 / span 1 / span 1;
    position: relative;
    opacity: 1;
    transition: opacity 0.1s, width 0.2s;
    min-width: 0px;
}

#splitter {
    width: 8px ;
}

#help {
    overflow: auto;
    border: 1px solid #555555 ;
    border-radius: 5px ;
    padding: 5px ;
    background-color: white;
}

.silky-splitpanel-splitter {
    background-color: inherit;
}

.silky-options-control {
    height: 100%;
    float: right;
    box-sizing: border-box;
    width: 585px;
    border: none;
}

.silky-hidden-options-control {
    visibility: hidden;
    height: 0px;
    opacity: 0;
}

.silky-options-control {
    transition: opacity 0.5s;
}

#progress-bar-helper {
    position: absolute ;
    left: 0 ;
    top: 0 ;
    display: table ;
    width: 100% ;
    height: 100% ;
    pointer-events:none;
}

#progress-bar-align-center {
    display: table-cell ;
    vertical-align: middle ;
    text-align: center ;
    pointer-events:none;
}

#progress-bar {
    display: inline-block ;
    margin: 0 auto ;
    width: 400px ;
    background-color: #B7121F ;
}

#notifications {
    position: absolute ;
    width: 400px ;
    height: 100% ;
    top : 0 ;
    padding: 12px 0 ;
    right: 12px ;
    box-sizing: border-box;
    z-index: 110 ;
    white-space: pre;
}
