
#results {
    overflow: scroll ;
}

#results {
    background-color: white ;
    transition: background-color 0.2s ;
    position: relative ;
}

#results[data-analysis-selected] {
    background-color: #E8E8E8 ;
    transition: background-color 0.2s ;
}

#results iframe {
    overflow: hidden ;
    transition: width 0.4s, height 0.2s, background-color 0.2s ;
}

#results iframe::-webkit-scrollbar {
    display: none;
}

#results[data-analysis-selected] iframe:not([data-selected]) {
    background-color: #E8E8E8 ;
}

#results iframe[data-selected] {
    background-color: white ;
}

.silky-results-container {
    position: relative ;
}

.silky-results-cover {
    position: absolute ;
    top: 0;
    right: 0 ;
    left: 0;
    bottom: 0;
    opacity: 0 ;
    background-color: white ;
    z-index: 1 ;
}
