
.jmv-results {
    margin: 0 ;
    padding: 0 ;
}

.jmv-results-panel {
    width: 100% ;
    height: 100% ;
    box-sizing: border-box;
    position: absolute ;
    top: 0 ;
    overflow: scroll ;
    transition: all .2s ;
    background-color: white ;
}

.silky-welcome-panel {
    border: none;
    width: 100% ;
    height: 100% ;
    box-sizing: border-box;
    position: absolute ;
    top: 0 ;
    overflow: scroll ;
    background-color: white ;
}

.jmv-results-panel.jmv-results-panel-hidden, .silky-welcome-panel.silky-welcome-panel-hidden {
    width: 0 ;
    overflow: hidden ;
    padding-right: 0 ;
}

.jmv-results-panel[data-analysis-selected] {
    background-color: #E8E8E8 ;
}

.jmv-results-panel.all-selected {
    background-color: #B5CAEF;
}

.jmv-results-panel iframe {
    overflow: hidden ;
    background-color: transparent ;
    transition: 0.3s background-color;
}

.jmv-results-panel iframe::-webkit-scrollbar {
    display: none;
}

.jmv-results-panel:not(.all-selected) .jmv-results-container[data-selected] iframe,
.jmv-results-panel:not(.all-selected) jmv-references[data-selected] {
    background-color: white ;
}

.jmv-results-panel:not(.all-selected) .jmv-results-container.empty-analysis iframe.hover {
    background-color: #f1f1f1 ;
}

.jmv-results-container[data-selected] .jmv-results-cover {
    display: none ;
}

.jmv-results-container {
    position: relative ;
    overflow: hidden ;
}

.jmv-results-container:not([data-analysis-name='empty']) {
    transition: 0.5s height ;
}

.jmv-results-cover {
    position: absolute ;
    top: 0;
    right: 0 ;
    left: 0;
    bottom: 0;
    opacity: 0 ;
    background-color: white ;
    z-index: 1 ;
    border: 1px dash transparent;
}

.jmv-results-cover:hover {
    border: 1px dash black;
}

jmv-references {
    margin-top: 50px ;
    margin-bottom: 20px ;
    border: 2px solid transparent ;
    max-width: 1000px ;
}

.jmv-results-panel[data-mode='text'] jmv-references {
    /* prevents it from concertina-ing when sliding in and out */
    width: 700px ;
}

jmv-references.activated {
    background-color: #B5CAEF ;
    border: 2px solid #8BA4D6;
}
