
.silky-results {
    margin: 0 ;
    padding: 0 ;
}

.silky-results-panel {
    width: 100% ;
    height: 100% ;
    box-sizing: border-box;
    position: absolute ;
    top: 0 ;
    overflow: scroll ;
    transition: all .2s ;
    background-color: white ;
}

.silky-results-panel.silky-results-panel-hidden {
    width: 0 ;
    overflow: hidden ;
    padding-right: 0 ;
}

.silky-results-panel[data-analysis-selected] {
    background-color: #E8E8E8 ;

}

.silky-results-panel iframe {
    overflow: hidden ;
    transition: width 0.4s, height 0.2s, background-color 0.2s ;
    margin: 5px ;
    background-color: transparent ;
}

.silky-results-panel iframe::-webkit-scrollbar {
    display: none;
}

.silky-results-container[data-selected] iframe {
    background-color: white ;
}

.silky-results-container[data-selected] .silky-results-cover {
    display: none ;
}

.silky-results-container {
    position: relative ;
    overflow: hidden ;
    transition: 0.5s height ;
}

.silky-results-cover {
    position: absolute ;
    top: 0;
    right: 0 ;
    left: 0;
    bottom: 0;
    opacity: 0 ;
    background-color: white ;
    z-index: 1 ;
}
