
#results {
    overflow: scroll ;
}

#results {
    background-color: white ;
    position: relative ;
}

#results[data-analysis-selected] {
    background-color: #D8D8D8 ;
}

#results iframe {
    overflow: hidden ;
}

#results iframe::-webkit-scrollbar {
    display: none;
}

#results iframe[data-selected] {
    background-color: white ;
}

.silky-results-container {
    position: relative ;
}

.silky-results-cover {
    position: absolute ;
    top: 0;
    right: 0 ;
    left: 0;
    bottom: 0;
    opacity: 0 ;
    z-index: 1 ;
}
