
.silky-ribbon {
    width: 100% ;
    color: #777777 ;
    -webkit-app-region: drag ;
}

.silky-ribbon-tab {
    display: inline-block ;
    background-color : inherit ;
    color: white ;
    padding: 8px 20px ;
    -webkit-app-region: no-drag;
}

.silky-ribbon-menu-button {
    position: absolute ;
    right: 6px ;
    top: 8px ;
    font-size: 125% ;
    text-align: center ;
    width: 24px ;
    height: 20px ;
    background-color : #EDEDED ;
    border-radius: 1px ;
    padding: 0 ;
    -webkit-app-region: no-drag;
}

body.windows .silky-ribbon-menu-button {
    top: 36px ;
}

.silky-ribbon-menu-button:hover {
    color: #999999 ;
}

.silky-ribbon-tab:hover {
    color: #EEEEEE ;
}

.silky-ribbon-tab.selected {
    background-color : #EDEDED ;
    color: #3E6DA9 ;
}

.silky-ribbon-body {
    background-color : #F0F0F0 ;
    height: 50px ;
    padding: 6px 6px ;
    -webkit-app-region: no-drag;
    display: flex ;
}

.silky-ribbon-button-separator {
    flex: 1 1 auto ;
}

.silky-ribbon-button[data-name=exploration] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-descriptives.svg');
}

.silky-ribbon-button[data-name=t-tests] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-ttest.svg');
}

.silky-ribbon-button[data-name=anova] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-anova.svg');
}

.silky-ribbon-button[data-name=regression] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-regression.svg');
}

.silky-ribbon-button[data-name=frequencies] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-frequencies.svg');
}

.silky-ribbon-button[data-name=modules] .silky-ribbon-button-icon {
    background-image: url('assets/analysis-more.svg');
}
