
.jmv-ribbon {
    width: 100% ;
    color: #777777 ;
    flex-grow: 0;
    flex-shrink: 0;
}

.jmv-ribbon-header {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding-inline-end: 5px;
}

.jmv-ribbon-menu {
    display: flex;
    flex-grow: 1;
    background-color: inherit;
}

.ribbon-tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-self: stretch;
}

.jmv-ribbon-tab {
    position: relative;
    background-color: inherit;
    color: white;
    padding: 10px 20px;
    -webkit-app-region: no-drag;
    font: inherit;
    line-height: 9px;
    border: none;
    align-self: stretch;
}

.jmv-ribbon-appmenu {
    font-size: 150% ;
    text-align: center ;
    width: 24px ;
    height: 24px ;
    color : #FFFFFF ;
    border-radius: 1px ;
    padding: 0 ;
    -webkit-app-region: no-drag;
    border: none;
    background-color: transparent;
}

.jmv-ribbon-fullscreen {
    font-size: 150% ;
    text-align: center ;
    width: 24px ;
    height: 24px ;
    color : #FFFFFF ;
    border-radius: 1px ;
    padding: 0 ;
    -webkit-app-region: no-drag;
    background-image: url("../assets/fullscreen-hide-data.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    border: none;
    background-color: transparent;
}

body[data-splitpanel-mode='results'] .jmv-ribbon-fullscreen {
    background-image: url("../assets/splitscreen.svg");
}

body[data-splitpanel-mode='data'] .jmv-ribbon-fullscreen {
    background-image: url("../assets/splitscreen.svg");
}

body[data-splitpanel-mode='mixed'] .jmv-ribbon-fullscreen[data-tabname='variables'] {
    background-image: url("../assets/fullscreen-hide-data.svg");
}

body[data-splitpanel-mode='mixed'] .jmv-ribbon-fullscreen[data-tabname='edit'] {
    background-image: url("../assets/fullscreen-hide-data.svg");
}

body[data-splitpanel-mode='mixed'] .jmv-ribbon-fullscreen[data-tabname='variables'] {
    background-image: url("../assets/fullscreen-hide-results.svg");
}

body[data-splitpanel-mode='mixed'] .jmv-ribbon-fullscreen[data-tabname='data'] {
    background-image: url("../assets/fullscreen-hide-results.svg");
}

.jmv-ribbon-appmenu span {
    line-height: 24px;
    vertical-align: top;
}

body.windows.electron .jmv-ribbon-fullscreen .shortcut-key-tag {
    font-size: 70%;
}

body.windows.electron .jmv-ribbon-appmenu .shortcut-key-tag {
    font-size: 70%;
}

body.windows.electron .jmv-ribbon-fullscreen {
    position: relative;
}

body.windows.electron .jmv-ribbon-appmenu {
    position: relative;
}

.jmv-ribbon-appmenu:hover {
    color: #EEEEEE ;
    background-color: #4675B1 ;
}

@media (forced-colors: active) {
    .jmv-ribbon-fullscreen:hover {
        background-color: unset !important;
    }
}

.jmv-ribbon-fullscreen:hover {
    color: #EEEEEE ;
    background-color: #4675B1 ;
}

.jmv-ribbon-tab:hover {
    color: #EEEEEE ;
    background-color: #4675B1 ;
}

.jmv-ribbon-tab.selected {
    background-color : #F0F0F0 ;
    color: #3E6DA9 ;
}

.jmv-ribbon-tab[data-tabname="file"] {
    padding: 7px 20px;
    min-width: 60px ;
}

.jmv-ribbon-body {
    background-color : #F0F0F0 ;
    height: 80px;
    padding-top: 3px;
    padding-inline-end: 5px;
    padding-bottom: 3px;
    padding-inline-start: 6px;
    -webkit-app-region: no-drag;
    display: flex ;
    /*overflow-x: overlay;
    overflow-y: visible;*/
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

.jmv-ribbon-body::-webkit-scrollbar {
  display: none;
}

.jmv-ribbon-button-separator {
    flex: 1 1 auto ;
}
