
.jmv-ribbon {
    width: 100% ;
    color: #777777 ;
}

.jmv-ribbon-header {
    display: flex ;
    flex-direction: row ;
}

.jmv-ribbon-tab {
    background-color : inherit ;
    color: white ;
    padding: 8px 20px ;
    -webkit-app-region: no-drag;
    line-height: 100%;
}

.jmv-ribbon-appmenu {
    position: absolute ;
    right: 6px ;
    /*top: 8px ;*/
    font-size: 150% ;
    text-align: center ;
    width: 24px ;
    height: 24px ;
    color : #FFFFFF ;
    border-radius: 1px ;
    padding: 0 ;
    -webkit-app-region: no-drag;
}

.jmv-ribbon-appmenu span {
    line-height: 24px;
    vertical-align: top;
}

body.windows.electron .jmv-ribbon-appmenu {
    top: 36px ;
}

.jmv-ribbon-appmenu:hover {
    color: #EEEEEE ;
    background-color: #4675B1 ;
}

.jmv-ribbon-tab:hover {
    color: #EEEEEE ;
    background-color: #4675B1 ;
}

.jmv-ribbon-tab.selected {
    background-color : #F0F0F0 ;
    color: #3E6DA9 ;
}

.jmv-ribbon-tab[data-tabname="file"] {
    padding: 7px 20px;
    width: 20px;
}

.jmv-ribbon-body {
    background-color : #F0F0F0 ;
    height: 58px ;
    padding: 6px ;
    -webkit-app-region: no-drag;
    display: flex ;
}

.jmv-ribbon-button-separator {
    flex: 1 1 auto ;
}
