
.jmv-ribbon {
    width: 100% ;
    color: #777777 ;
}

.jmv-ribbon-tab {
    display: inline-block ;
    background-color : inherit ;
    color: white ;
    padding: 8px 20px ;
    -webkit-app-region: no-drag;
}

.jmv-ribbon-appmenu {
    position: absolute ;
    right: 6px ;
    top: 8px ;
    font-size: 125% ;
    text-align: center ;
    width: 24px ;
    height: 20px ;
    background-color : #EDEDED ;
    border-radius: 1px ;
    padding: 0 ;
    -webkit-app-region: no-drag;
}

body.windows .jmv-ribbon-appmenu {
    top: 36px ;
}

.jmv-ribbon-appmenu:hover {
    color: #999999 ;
}

.jmv-ribbon-tab:hover {
    color: #EEEEEE ;
}

.jmv-ribbon-tab.selected {
    background-color : #EDEDED ;
    color: #3E6DA9 ;
}

.jmv-ribbon-body {
    background-color : #F0F0F0 ;
    height: 58px ;
    padding: 6px 6px 2px 6px ;
    -webkit-app-region: no-drag;
    display: flex ;
}

.jmv-ribbon-button-separator {
    flex: 1 1 auto ;
}
