
* {
    user-select: none ;
    -webkit-user-select: none;
}

html, body {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #333333 ;
}

body {
    font-family: "Segoe UI", "Open Sans", sans-serif, serif;
    font-size: 0.875rem;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}

body {

    background-color: #3E6DA9 ;
}

hr {
    height: 1px ;
    border: 0 ;
    background-color: #CCCCCC ;
}

body {
    cursor: default ;
    display: flex ;
    flex-flow: column ;
}

#main-view {
    padding-top: 6px ;
    border-top: 1px solid #D0D0D0 ;
    background-color: #E6E6E6 ;
    flex-grow: 1;
}

#main-options {
    background-color: inherit;
    border: 1px solid #ACACAC ;
}

#results {
    font-style: sans-serif ;
    border: 1px solid #ACACAC ;
    padding: 5px ;
}

#results h1 {
    margin-left: .4em ;
}

#splitter {
    width: 8px ;
}

#header {
    color: #3E6DA9 ;
    text-align: center ;
    height: 6px ;
}


#help {
    overflow: auto;
    border: 1px solid #555555 ;
    border-radius: 5px ;
    padding: 5px ;
    background-color: white;
}

.silky-splitpanel-splitter {
    background-color: inherit;
}

.silky-options-control {
    height: 100%;
    float: right;
    box-sizing: border-box;
    width: 585px;
    border: none;
}

.silky-hidden-options-control {
    visibility: hidden;
    height: 0px;
}


#progress-bar-helper {
    position: absolute ;
    left: 0 ;
    top: 0 ;
    display: table ;
    width: 100% ;
    height: 100% ;
    pointer-events:none;
}

#progress-bar-align-center {
    display: table-cell ;
    vertical-align: middle ;
    text-align: center ;
    pointer-events:none;
}

#progress-bar {
    display: inline-block ;
    margin: 0 auto ;
    width: 400px ;
    background-color: #B7121F ;
}
