
.mode-msg {
    text-align: center;
    margin-top: 100px;
    font-size: 150%;
    font-weight: 100;
}

@media (forced-colors: active) {
    .jmv-store {
        border: 1px solid ButtonBorder;
    }
}

.jmv-store-header-logo {
    height: 100%;
    background-image: url('../assets/logo-store.svg');    
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position-y: center;
    background-position: left 12px center;
}


.jmv-store {
    position: absolute ;
    display: flex ;
    flex-direction: column;
    height: 0 ;
    left: 50% ;
    margin-left: -400px ;
    width: 800px ;
    overflow: hidden ;
    transition: opacity .3s, visibility .3s, height .3s ;
    background-color: #F0F0F0 ;
    box-sizing: border-box;
    z-index: 110 ;
    top: 95px ;
}

.jmv-store-header {
    background-color: #3E6DA9 ;
    height: 70px ;
}

.jmv-store.visible {
    height: 600px ;
    box-shadow: 0px 2px 1px 1px rgba(172, 172, 172, 0.5);
    opacity: 1;
    visibility: visible;
}

.jmv-store:not(.visible) {
    opacity: 0;
    visibility: hidden;
}

.jmv-store-button-close {
    position: absolute ;
    right: 12px ;
    top: 12px ;
    width: 40px ;
    height: 40px ;
    color: #FFFFFF ;
    border: 4px solid #FFFFFF ;
    border-radius: 20px ;
    box-sizing: border-box;
    font-size: 24px ;
    text-align: center;
    z-index: 1 ;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.jmv-store-button-close:hover {
    color: #DDDDDD ;
    border-color: #DDDDDD ;
}

.jmv-store-tab-container {
    margin-top: 8px ;
    display: flex ;
    justify-content: center;
}

.jmv-store-tab {
    z-index: 10 ;
}

.jmv-store-tab.selected {
    color: #5E8BC4 ;
}

.jmv-store-tab-inner {
    padding: 10px 20px ;
}

.jmv-store-tab-highlight {
    position: absolute ;
    background-color: #E0E0E0 ;
    box-sizing: border-box ;
    border-bottom: 2px solid #5E8BC4 ;
    transition: left .2s ;
    z-index: 5 ;
}

.jmv-store-page-container {
    flex-grow: 1 ;
    position: relative ;
}

.jmv-store-page {
    display: flex;
    flex-direction: column;
    position: absolute ;
    box-sizing: border-box ;
    width: 100% ;
    top: 0 ;
    bottom: 0 ;
    transition: all .2s ;
    inset-inline-start: 0 ;
    padding: 0px 20px 20px 20px ;
}

.jmv-store-page h2 {
    color: #5E8BC4 ;
    margin-top: 0 ;
}

.jmv-store-page.left {
    inset-inline-start: -100% ;
}

.jmv-store-page.right {
    inset-inline-start: 100% ;
}
