
.color-pallete-item-1 {
    background-color: hsla(60, 48%, 57%, 1);
}

.color-pallete-item-2 {
    background-color: hsla(120, 48%, 57%, 1);
}

.color-pallete-item-3 {
    background-color: hsla(180, 48%, 57%, 1);
}

.color-pallete-item-4 {
    background-color: hsla(240, 48%, 57%, 1);
}

.color-pallete-item-5 {
    background-color: hsla(300, 48%, 57%, 1);
}

.color-pallete-item-6 {
    background-color: hsla(360, 48%, 57%, 1);
}

.color-pallete-item-7 {
    background-color: hsla(90, 17%, 52%, 1);
}

.color-pallete-item-8 {
    background-color: hsla(150, 17%, 52%, 1);
}

.color-pallete-item-9 {
    background-color: hsla(210, 17%, 52%, 1);
}

.color-pallete-item-10 {
    background-color: hsla(270, 17%, 52%, 1);
}

.color-pallete-item-11 {
    background-color: hsla(330, 17%, 52%, 1);
}

.color-pallete-item-12 {
    background-color: hsla(390, 17%, 52%, 1);
}
