.jmv-transform-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jmv-transform-editor > .contents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 0 3px 0 0;
}

.jmv-transform-editor-options {
    flex: 2;
    /* background-color: white; */
    border: 1px solid #dfdfdf;
    padding: 2px 2px 2px 2px;
    max-height: 130px;
    overflow-y: auto;
}

.jmv-transform-editor-top {
    display: flex;
    flex-flow: column;
    color: #848484;
    margin-bottom: 10px;
}

.jmv-transform-editor-bottom {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    color: #848484;
    margin-top: 10px;
    justify-content: flex-end;
    padding-right: 33px;
}

.jmv-transform-editor-bottom .view-button {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-left: 5px;
    padding: 0 4px;
    line-height: 1.5;
    background-color: white;
}

.jmv-transform-editor-bottom .view-button:hover {
    background-color: white;
}

.jmv-transform-editor-top .recoded-from {
    margin-left: 1ex;
    margin-right: 1ex;
}

.jmv-transform-editor-options > .formula-box {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 3px;
    align-items: center;
}

.jmv-transform-editor-options > .formula-box > .reorder-cond {

}

.jmv-transform-editor-options > .formula-box > .remove-cond {
    position: absolute;
    text-align: center;
    margin: 0px 0px 0px 5px;
    right: 6px;
    font-size: 10px;
    color: #bbbbbb;
    cursor: default;
    line-height: 21px;
}

.jmv-transform-editor-options > .formula-box > .remove-cond:hover {
    color: #c15050;
}

.jmv-transform-editor > .contents > .insert-box {
    padding: 0 4px;
    align-self: stretch;
}

.jmv-transform-editor > .contents > .right-box {
    margin-left: 5px;
}

.jmv-transform-editor > .contents > .insert-box > .insert {
    background-size: 80%;
    background-image: url(assets/filters-add.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.jmv-transform-editor > .contents > .insert-box:hover {
    background-color: white;
}

.jmv-transform-editor > .contents  .button {
    vertical-align: unset;
    width: 25px;
    height: 25px;
    line-height: 1;
    font-size: 20px;
    text-align: center;
    /*font-weight: bolder;*/
    color: #bbbbbb;
}


.jmv-transform-editor-options > .formula-box .show-editor {
    filter: hue-rotate(40deg) saturate(5) grayscale(100%);
    width: 23px;
    align-self: stretch;
    margin-right: 4px;
    border: 1px solid #dadada;
    background-image: url(assets/filters-formula.svg);
    background-position: center left 1px;
    background-repeat: no-repeat;
    background-size: 65%;
    cursor: default;
    flex: none;
    background-color: white;
}

.jmv-transform-editor-options > .formula-box .show-editor:hover, .jmv-transform-editor-options > .formula-box .show-editor.is-active {
    filter: none;
    background-color: #ffffff;
}

.jmv-transform-editor-options > .formula-box .show-editor > .down-arrow {
    filter: inherit;
    position: absolute;
    background-image: url(assets/filters-down-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 50%;
    margin-top: -3px;
    width: 5px;
    left: 16px;
    height: 5px;
}

.jmv-transform-editor-options > .formula-box .formula-list-item > .down-arrow {
    position: absolute;
    background-image: url(assets/filters-down-arrow.svg);
    background-position: right 2px top 1px;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    top: 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 3ch;
    left: 9.5ch;
    border-right: 1px dashed rgba(62, 109, 169, 0.28);
    border-left: 1px dashed rgba(62, 109, 169, 0.28);
    box-sizing: border-box;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    color: rgba(220, 220, 220, 0);
    line-height: 2;
}

.jmv-transform-editor-options > .formula-box .formula-list-item > .down-arrow:hover {
    background-color: rgba(62, 109, 169, 0.05);
    border-right: 1px solid rgba(62, 109, 169, 0.28);
    border-left: 1px solid rgba(62, 109, 169, 0.28);
}

.jmv-transform-editor-options > .formula-box .equal {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    color: #3e6da9;
    line-height: 2;
    padding: 0 0 0px 1ch;
    border: 1px solid transparent;
}

.jmv-transform-editor-options > .formula-box .formula-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: transparent;
    border-radius: 4px;
}

.jmv-transform-editor-options > .formula-box.recode-else {
    margin-top: 10px;
}

.jmv-transform-editor-options > .formula-box .formula-list-item {
    position: relative;
    height: 100%;
}

.jmv-transform-editor-options > .formula-box .formula-pair {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
}

.jmv-transform-editor-options > .formula-box .formulaMessageBox {
    background-color: pink;
    margin-left: 3px;
}

.jmv-transform-editor-options > .formula-box .formulaMessageBox > .formulaMessage {
    flex: 1;
    flex-grow: 1;
    margin: 5px;
}

.jmv-transform-editor-options > .formula-box .formulaMessageBox > .formulaMessage:empty {
    display: none;
}

.jmv-transform-editor-options > .formula-box .formula {
    flex: 1;
    resize: none;
    text-indent: 1.5em;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 12px;
    padding: 0px 20px 0px 1ex;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-left: none;
    border-right: none;
    cursor: text;
    overflow-y: auto;
    line-height: 2;
    min-height: 1em;
    height: inherit;
    box-sizing: border-box;
}

.jmv-transform-editor-options > .formula-box .formula-pair:first-child .formula {
    border-left: 1px solid #CCCCCC;
}

.jmv-transform-editor-options > .formula-box .formula-pair:last-child .formula {
    border-right: 1px solid #CCCCCC;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #CCCCCC;
}

.jmv-transform-editor-options > .formula-box .caret {
    border-left: 1px solid #888888;
    top: 2px;
    left: 15px;
    height: calc(1em + 2px);
    position: absolute;
    transition: .05s left ease-out, .05s top ease-out;
    pointer-events: none;
}
