
.shortcut-key-tag {
    position: absolute;
    height: 1em;
    color: white;
    background-color: #404040;
    text-align: center;
    padding: 0px 3px 0px 3px;
    vertical-align: middle;
    line-height: 1em;
    left: 55%;
    bottom: -0.7em;
    z-index: 500;
    display: inline-block;
    min-width: 12px;
    font-size: small;
    height: 17px;
    line-height: 17px;
    border-radius: 3px;
}

.menu-level:focus {
  outline: none
}
