.jmv-menu {
    position: fixed;
    z-index: 100;
    background-color: white;
    /*min-width: 100px;*/
    /*padding: 1px 1px 4px 1px;*/
    background-color: white;
    /*border: 1px solid #c1c1c1;*/
    box-shadow: 0px 0px 5px #c1c1c1;
    box-sizing: border-box;
    opacity: 1;
    z-index: 200;
    visibility: visible;
    min-width: 150px;
}

@media (forced-colors: active) {
    .jmv-menu {
        border: 1px solid ButtonBorder;
    }
}

.jmv-menu-hidden *,
.jmv-menu-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

.menu-owner.active:not([disabled]) {
    background-color: #d5dfeb ;
}

.menu-owner:not([disabled]):active {
    background-color: #d5dfeb ;
}

.jmv-menu:hover .menu-owner.active:not(:hover):not(.mouse-over) {
    background-color: inherit;
}
