
.jmv-toolbar-group-body {
    -webkit-app-region: no-drag;
    display: flex ;
    position: relative;
}

.jmv-toolbar-group-label {
    text-align: center;
    width: 100%;
    font-size: 70%;
    bottom: 0px;
    position: absolute;
}

.jmv-toolbar-group {
    position: relative;
}

.jmv-toolbar-group-body-vertical {
    flex-direction: column;
}
