tornado
Cython
PyYAML
numpy==2.1.1
scipy==1.14.1
    # numpy and scipy to match the flatpak
chardet
nanomsg
openpyxl
pyexcel-ezodf
aiohttp
protobuf
loguru
certifi
pyreadstat
polars
pandas
pytest
pytest_asyncio