
.jmv-store-body {
    background-color: white ;
    height: 100% ;
    border: 1px solid #ACACAC ;
    padding: 0 20px ;
    color: #555555 ;
    overflow-y: scroll ;
}

.store-page-searchbox {
    border: 1px solid #ACACAC;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.store-page-searchbox > .search-icon {
    width: 12px;
    margin-inline-start: 4px;
    margin-inline-end: 3px;
    height: 12px;
    background-image: url('../../assets/variable-search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: opacity(0.5);
}

.jmv-store-module.hide-module {
    display: none;
}

.store-page-searchbox >.search-text {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    z-index: 100;
    line-height: 1.5em;
}

.jmv-store-module {
    padding: 20px 10px ;
    display: flex ;
}

.jmv-store-message {
    display: flex;
    background-color: #9c9c9c;
    padding: 0px 10px;
    margin-top: 10px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
    margin-inline-start: 5px;
}

.jmv-store-message .text {
    padding-top: 10px;
    padding-inline-end: 0px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    color: white;
}

.jmv-store-message:not(.show){
    display: none;
}

.jmv-store-message .icon {
    background-image: url('../../assets/action-info.svg');
    width: 22px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.jmv-store-module:not(:last-child) {
    border-bottom: 1px solid #ACACAC ;
}

.jmv-store-module h2 {
    color: #555555 ;
    margin-bottom: 4px ;
}

.jmv-store-module-lhs {
    width: 90px ;
    min-width: 90px ;
    max-width: 90px ;
}

.jmv-store-module-icon {
    width: 70px ;
    height: 70px ;
    background-image: url('../../assets/analysis-module.svg');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat ;
    border: 1.5px solid #6B9DE8 ;
    box-sizing: border-box;
}

.jmv-store-module .description {
    line-height: 140% ;
}

.jmv-store-module-button {
    background-color: white ;
    border: 1.5px solid #6B9DE8 ;
    color: #6B9DE8 ;
    margin-top: 8px ;
    padding: 5px 8px ;
    box-sizing: border-box;
    font-size: 90% ;
    text-align: center;
    text-transform: uppercase;
}

.jmv-store-module-button:not(:first-of-type) {
    margin-inline-start: 10px;
}

.jmv-store-module-button[data-op='update'] {
    border: 1.5px solid #E6AC40 ;
    color: #E6AC40 ;
}

.jmv-store-module-button[data-op='installed'] {
    padding-inline-start: 0 ;
    border: 1.5px solid transparent ;
}

.jmv-store-module-button[data-op='unavailable'],
.jmv-store-module-button[data-op='incompatible'],
.jmv-store-module-button[data-op='old'] {
    padding-inline-start: 0 ;
    border: 1.5px solid transparent ;
    color: #DD0000 ;
}

.jmv-store-module-button:enabled:hover {
    background-color: #6B9DE8 ;
    color: white ;
}

.jmv-store-module-button[data-op='update']:enabled:hover {
    background-color: #E6AC40 ;
    color: white ;
}

.jmv-store-module .version {
    font-size: 80% ;
    color: #9F9F9F ;
    padding-inline-start: 6px ;
}

.jmv-store-module .authors {
    font-size: 80% ;
    color: #6B9DE8 ;
    margin-bottom: 6px ;
}

.jmv-store-page-installed-drop {
    margin-top: 60px ;
    text-align: center ;
    font-size: 180px ;
    width: 100%;
    color: #BBBBBB;
    border: none;
    background: none;
}

.jmv-store-page-installed-drop > span:hover {
    color: #999999 ;
}

.jmv-store-page-installed-module {
    box-sizing: border-box;
    position: relative ;
    overflow: hidden;
    transition: all .3s ;
}

.jmv-store-page-installed-module > * {
    margin: 12px ;
}

.jmv-store-page-installed-module button.uninstall {
    position: absolute ;
    inset-inline-end: 6px ;
    bottom: 6px ;
    display: none;
}

.jmv-store-page-installed-module.selected button.uninstall {
    display: block ;
}

.jmv-store-page-installed-module.selected {
    background-color: #FFFFFF ;
}

.jmv-store-page-installed-module.uninstalled {
    height: 0 ;
}

.jmv-store-loading {
    position: absolute ;
    top: 0 ;
    inset-inline-start: 50% ;
    margin-inline-start: -150px ;
    width: 300px ;
    height: 200px ;
    transition: opacity .2s ;
    opacity: 0;
    background-image: url('../../assets/indicator-running.svg');
    background-size: 50px ;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

[data-status='loading'] .jmv-store-loading {
    opacity: 1;
}

.jmv-store-error {
    position: absolute ;
    padding: 24px ;
    top: 0 ;
    inset-inline-start: 50% ;
    width: 500px ;
    margin-inline-start: -250px ;
    opacity: 0 ;
    text-align: center ;
    pointer-events: none;
}

.jmv-store-error-cause {
    margin: 20px ;
}

[data-status='error'] .jmv-store-error {
    opacity: 1 ;
    pointer-events: all;
}

.jmv-store-installing {
    height: 0 ;
    transition: height 0.3s ;
    box-sizing: border-box;
    position: absolute ;
    top: 0 ;
    inset-inline-start: 50% ;
    width: 300px ;
    margin-inline-start: -170px ;
    text-align: center ;
    border: 1px solid #ACACAC ;
    border-bottom: none ;
    background-color: #F0F0F0 ;
    overflow: hidden;
}

.jmv-store-installing h2 {
    margin-top: 24px ;
}

[data-status='installing'] .jmv-store-installing {
    height: 140px ;
    border: 1px solid #ACACAC ;
}

.jmv-store-progress {
    display: inline-block;
    width: 200px ;
    height: 16px ;
    background-color: white ;
}

.jmv-store-progress-bar {
    width: 0 ;
    height: 100% ;
    background-color: #6B9DE8 ;
}

[data-status='installing'] .jmv-store-progress-bar {
    /* transition: width .2s ;*/
}

.jmv-store-installing-description {
    padding: 12px ;
}
