
.selector-body {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid #bdbbbb;
}

.tablist button {
    border: none;
    padding: 6px;
    min-width: 70px;
    background-color: transparent;
    transition: background-color 0.2s;
    font-family: unset;
    font-size: unset;
    line-height: unset;
    font-weight: unset;
    font-style: unset;
    color: grey;
    margin: 3px;
}

.tablist button:hover:not(.selected-tab) {
    background-color: #dadada;
    border-bottom: 2px solid grey;
}

.jmv-content-selector .tablist .selected-tab {
    background-color: #3e6da92b;
    color: unset;
    border-bottom: 2px solid #5981b3;
}

.selector-body label:not(:empty) {
    margin-inline-end: 10px;
}