.silky-control-container.silky-control-margin-small:not(.silky-control-body) {
    margin: 2px;
}

.silky-control-container.silky-control-margin-normal:not(.silky-control-body) {
    margin: 5px;
}

.silky-control-container.silky-control-margin-large:not(.silky-control-body) {
    margin: 10px;
}

.silky-layout-container > .first-cell > .silky-control-container:not(.silky-control-body) {
    margin-inline-start: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-control-container:not(.silky-control-body) {
    margin-top: 0px;
}

.silky-layout-container > .last-cell > .silky-control-container:not(.silky-control-body) {
    margin-inline-end: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-control-container:not(.silky-control-body) {
    margin-bottom: 0px;
}
