.silky-option-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.silky-layout-container > .first-cell > .silky-option-checkbox {
    margin-inline-start: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-option-checkbox {
    margin-top: 0px;
}

.silky-layout-container > .last-cell > .silky-option-checkbox {
    margin-inline-end: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-option-checkbox {
    margin-bottom: 0px;
}

.silky-option-checkbox[data-horizontal-align='center'] {
    text-align: center;
}

.silky-option-checkbox[data-horizontal-align='right'] {
    text-align: right;
}

.electron input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

input[type="checkbox"] {
    position: relative;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
}

div.silky-option-checkbox span {
    vertical-align: middle;
    line-height: 18px;
}
