/*radio check circle*/
.electron input[type="radio"] {
    width: 18px;
    height: 18px;
}

input[type="radio"] {
    position: relative;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

.silky-option-radio label span {
    vertical-align: middle;
    line-height: 18px;
}

.silky-option-radio.silky-control-margin-small {
    margin: 2px;
}

.silky-option-radio.silky-control-margin-normal {
    margin: 5px;
}

.silky-option-radio.silky-control-margin-large {
    margin: 10px;
}

.silky-control-container .first-cell > .silky-option-radio {
    margin-left: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-option-radio {
    margin-top: 0px;
}

.silky-layout-container > .last-cell > .silky-option-radio {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-option-radio {
    margin-bottom: 0px;
}
