.silky-option-checkbox.silky-control-margin-small {
    margin: 2px;
}

.silky-option-checkbox.silky-control-margin-normal {
    margin: 5px;
}

.silky-option-checkbox.silky-control-margin-large {
    margin: 10px;
}

.silky-layout-container > .first-cell > .silky-option-checkbox {
    margin-left: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-option-checkbox {
    margin-top: 0px;
}

.silky-layout-container > .last-cell > .silky-option-checkbox {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-option-checkbox {
    margin-bottom: 0px;
}

.silky-option-checkbox .jmv-option-halign-center {
    text-align: center;
}

.silky-option-checkbox .jmv-option-halign-right {
    text-align: right;
}

/*Checkbox tick square*/
input[type="checkbox"] {
    position: relative;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

label.silky-option-checkbox span {
    vertical-align: middle;
    line-height: 18px;
}
