.multi-cell-wrapper.silky-control-margin-small {
    margin: 2px;
}

.multi-cell-wrapper.silky-control-margin-normal {
    margin: 5px;
}

.multi-cell-wrapper.silky-control-margin-large {
    margin: 10px;
}
