
.silky-option-text-input.silky-option-small-text {
    width: 25px;
}

.silky-option-text-input.silky-option-normal-text {
    width: 50px;
}

.silky-option-text-input.silky-option-large-text {
    width: 100px;
}

.silky-option-text-input.silky-option-largest-text {
    width: 200px;
}

.silky-option-text-input {
    padding-left: 3px;
}

.silky-option-text-input.frameless-textbox {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 3px 3px 3px;
  border: 1px solid transparent;
  z-index: 98;
  background-color: transparent
}

.silky-option-text-input.frameless-textbox:focus {
  box-shadow: 0 0 5px rgba(181, 202, 239, 1);
  border: 1px solid rgba(181, 202, 239, 1);
  background-color: white;
  z-index: 99;
}

.float-up {
    z-index: 100;
}

.centre-text {
    text-align: center
}

.silky-option-text-input:not(.silky-option-text-start)  {
    margin-left: 1ex;
}

.silky-option-text-input:not(.silky-option-text-end)  {
    margin-right: 1ex;
}

.jmv-option-text-input-suggested:not(.silky-option-text-start)  {
    margin-left: 1ex;
}

.silky-option-text-start.silky-control-margin-small:not(.frameless-textbox) {
    margin-left: 2px;
}

.silky-option-text-end.silky-control-margin-small:not(.frameless-textbox) {
    margin-right: 2px;
}

.silky-option-text-input.silky-control-margin-small:not(.frameless-textbox) {
    margin-top: 2px;
    margin-bottom: 2px;
}

.jmv-option-text-input-suggested.silky-control-margin-small:not(.frameless-textbox) {
    margin-top: -2px;
}

.silky-option-text-start.silky-control-margin-normal {
    margin-left: 5px;
}

.silky-option-text-end.silky-control-margin-normal {
    margin-right: 5px;
}

.silky-option-text-input.silky-control-margin-normal {
    margin-top: 5px;
    margin-bottom: 5px;
}

.jmv-option-text-input-suggested.silky-control-margin-normal {
    margin-top: -5px;
}

.silky-option-text-start.silky-control-margin-large {
    margin-left: 10px;
}

.silky-option-text-end.silky-control-margin-large {
    margin-right: 10px;
}

.silky-option-text-input.silky-control-margin-large {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jmv-option-text-input-suggested.silky-control-margin-large {
    margin-top: -10px;
}

.silky-layout-container > .first-cell > .silky-option-text-start:not(.frameless-textbox) {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-option-text-end:not(.frameless-textbox) {
    margin-right: 0px;
}

.jmv-option-text-input-suggested {
    background-color: white;
    border: 1px solid #bebebe;
    min-width: 100px;
    max-width: 300px;
    max-height: 200px;
}

.jmv-option-text-input-suggested-option {
    padding: 4px;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
}

.jmv-option-text-input-suggested-option-label {
    display: inline;
    font-size: 80%;
    color: #808080;
    float: right;
}

.jmv-option-text-input-suggested-option-value {
    display: inline;
}

.jmv-option-text-input-suggested-option:hover {
    background-color: #F2F2F2;
}
