
.silky-target-list-header {
    margin-bottom: 2px;
}

.silky-target-list-header.silky-control-margin-small {
    margin-top: 3px;
}

.silky-target-list-header.silky-control-margin-normal {
    margin-top: 5px;
}

.silky-target-list-header.silky-control-margin-large {
    margin-top: 10px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-target-list-header {
    margin-top: 0px;
}

.silky-target-list {
    border: 1px solid rgb(130, 130, 130);
    background-color: rgb(255, 255, 255);
}

.silky-option-list.silky-target-list {
    margin: 0px;
}

.item-insert-on-drop {
    border: 1px solid transparent;
    border-top: 1px dotted rgba(0, 0, 0, 0.4);
}

.silky-option-list-filler {
    min-height: 5px;
}


.silky-option-list.sub-option-List {
    border-style: none none none none;
}

.silky-target-list.sub-targetGrid.selected-sub-targetlist {
    background-color: #eaf0fa;
}

.silky-target-list.sub-targetGrid.selected-sub-targetlist .column-ghost-label {
    color: #b3b3b3
}

.sub-targetList .silky-target-list-header {
    font-weight: bold;
}

.item-hovering.item-overwrite-on-drop {
    background-color: rgba(0, 0, 0, 0.1);
}
