/*radio check circle*/
.electron input[type="radio"] {
    width: 18px;
    height: 18px;
}

input[type="radio"] {
    position: relative;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
}

.silky-option-radio label span {
    vertical-align: middle;
    line-height: 18px;
}

.silky-control-container .first-cell > .silky-option-radio {
    margin-inline-start: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-option-radio {
    margin-top: 0px;
}

.silky-layout-container > .last-cell > .silky-option-radio {
    margin-inline-end: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-option-radio {
    margin-bottom: 0px;
}
