.silky-layout-cell:not(.first-cell) > .silky-option-checkbox {
    margin-left: 7px;
}

.silky-option-checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
}

.silky-options-group-header .silky-option-checkbox {
    margin-bottom: 0px;
}

/*Checkbox tick square*/
input[type="checkbox"] {
    position: relative;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

label.silky-option-checkbox span {
    vertical-align: middle;
}
