/*textbox sizing*/
.jmv-option-icon[data-icon='variable-continuous'] {
    background-image: url('../assets/variable-continuous.svg');
}

.jmv-option-icon[data-icon='variable-nominal'] {
    background-image: url('../assets/variable-nominal.svg');
}

.jmv-option-icon[data-icon='variable-ordinal'] {
    background-image: url('../assets/variable-ordinal.svg');
}

.jmv-option-icon[data-icon='variable-nominaltext'] {
    background-image: url('../assets/variable-nominal-text.svg');
}

.jmv-option-icons[data-icon-position='right'] {
    margin-inline-start: 5px;
}

.jmv-option-icons[data-icon-position='left'] {
    margin-inline-end: 5px;
}

.jmv-option-icon {
    background-position: center;
    background-repeat: no-repeat ;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin: 0px 2px;
}

.jmv-option-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
