
/*silky-options-group-header silky-options-label-group-header*/

.silky-control-label.silky-control-margin-small {
    margin: 2px;
}

.silky-control-label.silky-control-margin-normal {
    margin: 5px;
}

.silky-control-label.silky-control-margin-large {
    margin: 10px;
}

.silky-control-label.silky-control-label-empty {
    margin: 0px;
}

.silky-layout-container > .first-row > .silky-control-label {
    margin-top: 0px;
}

.silky-layout-container:not(.silky-control-body) > .first-cell > .silky-control-label {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-control-label {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-control-label {
    margin-bottom: 0px;
}

/*Adding a space after a header if the grid is inline*/
.silky-options-group-style-inline {
    margin-right: 1ex;
}

.silky-control-label {
    font-size: 100% ;
    font-weight: bold;
    white-space: nowrap;
}

/*.silky-option-list .silky-control-label {
    margin: 2px 5px 2px 5px;
    font-weight: normal;
}*/

.silky-options-group.silky-control-margin-small {
    margin: 2px;
}

.silky-options-group.silky-control-margin-normal {
    margin: 5px;
}

.silky-options-group.silky-control-margin-large {
    margin: 10px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-options-group {
    margin-top: 0px;
}

.silky-layout-container > .first-cell > .silky-options-group {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-options-group {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-options-group {
    margin-bottom: 0px;
}
