
.silky-list-item .power-box .button-box .button {
    width: 8px;
    height: 8px;
    filter: hue-rotate(40deg) saturate(5) grayscale(100%);
}

.silky-list-item .power-box .value {
    cursor: text;
}

.silky-list-item .power-box .button-box .up {
    background-image: url('../assets/filters-up-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 1px;
}

.silky-list-item .power-box .button-box .down {
    background-image: url('../assets/filters-down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1px;
}

.supplier-search {
    height: 25px;
    opacity: 1;
    transition: opacity 0.2s;
    background: white;
    border-bottom: 1px solid rgb(130, 130, 130);
    z-index: 90;
}

.outer-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.outer-text .text {
    /*user-select: text ;*/
    /*-webkit-user-select: text;*/
    /*-moz-user-select: text;*/
    white-space: nowrap;
    padding: 0;
    outline: none;
    margin-top: -1px;
    height: 100%;
    width: 100%;
    border: none;
    text-indent: 5px;
    font-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.outer-text .text::placeholder {
  color: rgb(185, 185, 185);
  font-size: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.search {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    z-index: 100;
    filter: opacity(60%);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-image: url(../assets/variable-search.svg);
    border-radius: 3px;
    transition: 0.2s right;
}

.search:hover {
    background-color: #dadada;
}

.silky-list-item .power-box {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
}

.silky-list-item .power-box.power-visible {
    opacity: 1;
}

.silky-list-item .power-box .button-box {
    margin-right: 3px;
    margin-left: 3px;
}
