
.silky-options-supplier-group {
    overflow: visible;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
}

.silky-options-supplier-group.silky-control-margin-small {
    margin: 2px;
}

.silky-options-supplier-group.silky-control-margin-normal {
    margin: 5px;
}

.silky-options-supplier-group.silky-control-margin-large {
    margin: 10px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-options-supplier-group {
    margin-top: 0px;
}

.silky-layout-container > .first-cell > .silky-options-supplier-group {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-options-supplier-group {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-options-supplier-group {
    margin-bottom: 0px;
}

.jmv-variable-supplier-base {
    height: 100%;
    grid-template-rows: minmax(0, 1fr);
}

.silky-variable-supplier {
    min-height: 200px;
    height: 100%;
    border: 1px solid rgb(130, 130, 130);
    background-color: rgb(255, 255, 255);
}

.variablesupplier-button-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(130, 130, 130);
    border-top: none;
    box-sizing: border-box;
    background-color: white;
}

.variablesupplier-button-box > .button {
    background: #D8D8D8;
    color: #6b6b6b;
    height: 25px;
    display: flex;
    align-items: center;
    transition: 0.2s background-color;
}

.variablesupplier-button-box > .button:hover {
    background-color: #ececec;
}

.silky-variable-type-img.silky-variable-type-id {
    background-image: url('../assets/variable-id.svg');
}

.silky-variable-type-img.silky-variable-type-continuous {
    background-image: url('../assets/variable-continuous.svg');
}

.silky-variable-type-img.silky-variable-type-nominal {
    background-image: url('../assets/variable-nominal.svg');
}

.silky-variable-type-img.silky-variable-type-nominal.jmv-data-type-text {
    background-image: url('../assets/variable-nominal-text.svg');
}

.silky-variable-type-img.silky-variable-type-ordinal {
    background-image: url('../assets/variable-ordinal.svg');
}

.silky-variable-type-img.silky-variable-type-ordinal.jmv-data-type-text {
    background-image: url('../assets/variable-ordinal-text.svg');
}

.silky-options-supplier-group-header {
    margin-bottom: 2px;
}

.silky-list-item.silky-grayed-out {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
