
.jmv-collapse-view:not(.view-colapsed) {
    overflow: visible;
}

.silky-options-collapse-button {
    white-space: nowrap;
}

.silky-options-collapse-button:hover {
    background-color: #c9c9c9;
}

.silky-options-collapse-button.silky-control-margin-small {
    margin: 2px;
}

.silky-options-collapse-button.silky-control-margin-normal {
    margin: 4px;
}

.silky-options-collapse-button.silky-control-margin-large {
    margin: 8px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-options-collapse-button {
    margin-top: 0px;
}

.silky-layout-container > .first-cell > .silky-options-collapse-button {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-options-collapse-button {
    margin-right: 0px;
}

.silky-options-collapse-button.silky-gridlayout-collapsed, .silky-layout-container:not(.silky-control-body) > .last-row > .silky-options-collapse-button {
    margin-bottom: 0px;
}

.silky-options-collapse-button {
    font-size: 100% ;
    border: 1px solid #B0B0B0;
    background-color: #D8D8D8;
    padding: 5px;
    vertical-align: middle ;
    color: #555555 ;
}

.silky-options-collapse-icon {
    border-right: 1px solid rgb(130, 130, 130) ;
    padding-right: 23px;
    margin-right: 5px;
    box-sizing: border-box ;
    cursor: default ;
}

.silky-gridlayout-collapsed.silky-options-collapse-button .silky-dropdown-toggle {
  top: -3px ;
}

.silky-gridlayout-collapsed.silky-options-collapse-button .silky-dropdown-toggle:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.silky-options-collapse-button .silky-dropdown-toggle:before {
    transition: transform 0.2s;
}
