.jmv-collapse-view {
    margin-top: 3px;
}

.jmv-collapse-view:not(.view-colapsed) {
    overflow: visible;
}

.silky-options-collapse-button {
    white-space: nowrap;
}

.silky-options-collapse-button:hover {
    background-color: #c9c9c9;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-options-collapse-button {
    margin-top: 0px;
}

.silky-layout-container > .first-cell > .silky-options-collapse-button {
    margin-inline-start: 0px;
}

.silky-layout-container > .last-cell > .silky-options-collapse-button {
    margin-inline-end: 0px;
}

.silky-options-collapse-button.silky-gridlayout-collapsed, .silky-layout-container:not(.silky-control-body) > .last-row > .silky-options-collapse-button {
    margin-bottom: 0px;
}

.silky-options-collapse-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 100% ;
    border: 1px solid #B0B0B0;
    background-color: #D8D8D8;
    padding: 5px;
    vertical-align: middle ;
    color: #555555 ;
    width: 100%;
    text-align: start;
}

.silky-options-collapse-icon {
    border-inline-end: 1px solid rgb(130, 130, 130) ;
    padding-inline-end: 23px;
    margin-inline-end: 10px;
    box-sizing: border-box ;
    cursor: default ;
    height: 100%;
    width: 10px;
}

/*.silky-gridlayout-collapsed.silky-options-collapse-button .silky-dropdown-toggle {
  top: -3px ;
}*/

body[dir="rtl"] .silky-gridlayout-collapsed.silky-options-collapse-button .silky-dropdown-toggle:before {
  -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.silky-gridlayout-collapsed.silky-options-collapse-button .silky-dropdown-toggle:before {
  -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.silky-options-collapse-button .silky-dropdown-toggle:before {
    transition: transform 0.2s;
}
