
.silky-options-supplier-group {
    overflow: visible;
}

.silky-options-supplier-group.silky-control-margin-small {
    margin: 2px;
}

.silky-options-supplier-group.silky-control-margin-normal {
    margin: 5px;
}

.silky-options-supplier-group.silky-control-margin-large {
    margin: 10px;
}

.silky-layout-container:not(.silky-control-body) > .first-row > .silky-options-supplier-group {
    margin-top: 0px;
}

.silky-layout-container > .first-cell > .silky-options-supplier-group {
    margin-left: 0px;
}

.silky-layout-container > .last-cell > .silky-options-supplier-group {
    margin-right: 0px;
}

.silky-layout-container:not(.silky-control-body) > .last-row > .silky-options-supplier-group {
    margin-bottom: 0px;
}

.silky-variable-supplier {
    height: 200px;
    border: 1px solid rgb(130, 130, 130);
    background-color: rgb(255, 255, 255);
}


.silky-variable-type-img.silky-variable-type-id {
    background-image: url('assets/variable-id.svg');
}

.silky-variable-type-img.silky-variable-type-continuous {
    background-image: url('assets/variable-continuous.svg');
}

.silky-variable-type-img.silky-variable-type-nominal {
    background-image: url('assets/variable-nominal.svg');
}

.silky-variable-type-img.silky-variable-type-nominal.jmv-data-type-text {
    background-image: url('assets/variable-nominal-text.svg');
}

.silky-variable-type-img.silky-variable-type-ordinal {
    background-image: url('assets/variable-ordinal.svg');
}

.silky-variable-type-img.silky-variable-type-ordinal.jmv-data-type-text {
    background-image: url('assets/variable-ordinal-text.svg');
}

.silky-options-supplier-group-header {
    margin-bottom: 2px;
}

.silky-list-item.silky-grayed-out {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
