

* {
    user-select: none ;
    -webkit-user-select: none;
       -moz-user-select: none;
}

html, body {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height:100%
}

body {
    cursor: default ;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 80%;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}

.silky-layout-cell {
    overflow:visible;
}

.silky-layout-cell.cell-border:not(.first-cell) {
    border-left: 1px solid #d8d8d8;
}

.silky-layout-cell.cell-border-columns:not(.first-cell) {
    border-left: 1px solid #d8d8d8;
}

.silky-layout-cell.cell-border:not(.first-row) {
    border-top: 1px solid #d8d8d8;
}

.silky-layout-cell.cell-border-rows:not(.first-row) {
    border-top: 1px solid #d8d8d8;
}

.silky-layout-cell.selected {
    background-color: #B5CAEF;
}


.hasStretchFactor {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.silky-list-item-textbox {
    margin: 2px 5px 2px 5px;
}

.silky-options-content {
    border: none;
    overflow: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.silky-sp-back-button {
    font-size: 24px ;
    width: 40px ;
    height: 40px ;
    /*float: right;*/
    box-sizing: border-box ;
    border: 3px solid #555555 ;
    border-radius: 50% ;
    text-align: center ;
    vertical-align: middle ;
    cursor: default ;
    margin-top: 6px ;
    margin-bottom: 6px ;
    margin-right: 6px ;
    color: #555555 ;
    display: inline-block;
}

.silky-sp-back-button:hover {

    border-color: #999999 ;
    color: #999999 ;
}

.silky-sp-back-button span {
    line-height: 34px ;
}

.silky-options-title {
    display: inline ;
    font-size: 150% ;
    color: #333333 ;
}

.silky-options-header {
    display: flex;
    justify-content: space-between;
    align-items:center;

    margin-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 15px ;
    padding-left: 15px ;

    background-image: linear-gradient(to left, #ACACAC, transparent);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.silky-list-item.silky-format-number {
    font-size: 100% ;
    vertical-align: middle ;
}

.silky-list-item.silky-format-string {
    font-size: 100% ;
    vertical-align: middle ;
}

.silky-list-item.silky-format-variable, .silky-list-item.silky-format-term {
    font-size: 100% ;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    display: flex;
    align-items: center;
}

.silky-list-item .silky-list-item-value {
    padding-left: 4px;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.silky-list-item .silky-variable-type-img {
    height:18px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 0 0 18px;
}

.silky-variable-supplier .silky-list-item.silky-format-variable .silky-variable-type-img.silky-variable-type-none {
    flex: 0 0 0;
}

.unavaliable_variable .silky-list-item-value {
    color: #AAAAAA;
    text-decoration: line-through;
}

.silky-variablelist-icons .silky-variable-type-img {
    width:18px; /*width of your image*/
    height:18px; /*height of your image*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle ;
}

.silky-dropdown-toggle {
  position: relative;
  top: -4px ;
  left: 6px ;
}

.silky-option-list {
    border: 1px solid rgb(130, 130, 130);
    background-color: rgb(255, 255, 255);
}

.silky-dropdown-toggle:before {
  display: block;
  position: absolute;
  vertical-align: middle;
  color: transparent;
  font-size: 0;
  content: "";
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(100, 100, 100);
  top: 50%;
  left: 100%;
  z-index: 2;
}

.silky-dropdown-toggle:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.silky-option-variable-button {
    width: 34px;
    height:28px;
    border: 1px solid rgb(130, 130, 130) ;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
}

.supplier-button-filler {
    width: 34px;
    height:28px;
    margin-left: 10px;
    margin-right: 10px;
}

.silky-option-variable-button[disabled] {
    -webkit-filter: grayscale(100%) opacity(50%);
    filter: grayscale(100%) opacity(50%);
    background-color: rgb(200, 200, 200);
}

.disabled-text {
    color: rgb(169, 169, 169);
}

.silky-layout-grid.single-item {
    height: 27px;
}

.silky-layout-grid.multi-item {
    overflow-x: hidden;
}

.silky-layout-grid.multi-item.auto-size {
    overflow-y: hidden;
}

.silky-layout-grid.multi-item.smallest-size {
    height: 32px; //27px + 5 for end insert space
}

.silky-layout-grid.multi-item.small-size {
    height: 59px; //54px + 5 for end insert space
}

.silky-layout-grid.multi-item.normal-size {
    height: 113px; //108px + 5 for end insert space
}

.silky-layout-grid.multi-item.large-size {
    height: 221px; //216px + 5 for end insert space
}

.silky-layout-grid.multi-item.largest-size {
    height: 437px; //432px + 5 for end insert space
}


.silky-list-item.silky-format-rma_cell {
    font-size: 100% ;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle ;
}

.silky-item-dragging {
    position: absolute;
    z-index: 100;
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
    pointer-events: none;
}

.silky-control-body-style-list {
    margin-left: 15px;
    margin-top: 0px;
}

.silky-control-body-style-inline {
    margin-left: 1ex;
}

.silky-layout-cell.cell-invisible, .silky-layout-cell.cell-invisible * {
    pointer-events: none;
}

.silky-layout-cell.rendered {
    transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, opacity 0.2s;
}


input[type=text].silky-option-listitem {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 4px 3px 8px;
  margin: 3px 0px 3px 0px;
  border: 1px solid #FFFFFF;
  border-left: none;
  border-right: none;
  z-index: 98;
}

input[type=text].silky-option-listitem:focus {
  box-shadow: 0 0 5px rgba(181, 202, 239, 1);
  padding: 3px 4px 3px 8px;
  margin: 3px 1px 3px 0px;
  border: 1px solid rgba(181, 202, 239, 1);
  border-left: none;
  border-right: none;
  z-index: 99;
}

.tippy-tooltip.jmv-theme .tippy-backdrop {
    background-color: #999999;
}

.centre-text {
    text-align: center
}

.silky-analysis-under-development {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.top-level {
    margin-bottom: 20px;
}

.rmcell-template {
    /*border-bottom: 1px solid #eaeaea;*/
}

.rmcell-template .silky-control-label {
    font-size: 80% ;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.rmcell-template .silky-option-list {
    border-color: transparent;
    /*height: 50px;*/
}

.linreg-block-template {
    /*border-bottom: 1px solid #eaeaea;*/
}

.linreg-block-template .silky-option-list {
    border-color: transparent;
}


@import (inline) "../lib/metro-icons.css";
@import (inline) "../common/toolbar/toolbar.css";
@import (inline) "../common/toolbar/toolbarbutton.css";
@import (inline) "../common/toolbar/toolbargroup.css";
@import (inline) "../common/toolbar/toolbarseparator.css";
@import (inline) "iconsupport.css";
@import (inline) "controlcontainer.css";
@import (inline) "optionlistcontrol.css";
@import (inline) "layoutgroupview.css";
@import (inline) "layoutvariablesview.css";
@import (inline) "layoutcollapseview.css";
@import (inline) "gridcheckbox.css";
@import (inline) "gridradiobutton.css";
@import (inline) "gridtextbox.css";
@import (inline) "gridcombobox.css";
@import (inline) "levelselector.css";
@import (inline) "rmanovafactorscontrol.css";
@import (inline) "gridvariablestargetlist.css";
@import (inline) "gridtargetcontrol.css";
@import (inline) "gridcontrol.css";
